@font-face {
     font-family: 'Heungkukseed';
     src: url('/wsrv/app/fonts/HeungkukseedL.ttf');
     font-weight: 400;
     font-display: swap;
}

@font-face {
     font-family: 'Heungkukseed';
     src: url('/wsrv/app/fonts/HeungkukseedM.ttf');
     font-weight: 500;
     font-display: swap;
}

@font-face {
     font-family: 'Heungkukseed';
     src: url('/wsrv/app/fonts/HeungkukseedB.ttf');
     font-weight: 700;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Thin.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Thin.otf') format('opentype');
     font-weight: 100;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-ExtraLight.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-ExtraLight.otf') format('opentype');
     font-weight: 200;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Light.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Light.otf') format('opentype');
     font-weight: 300;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Regular.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Regular.otf') format('opentype');
     font-weight: 400;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Medium.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Medium.otf') format('opentype');
     font-weight: 500;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-SemiBold.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-SemiBold.otf') format('opentype');
     font-weight: 600;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Bold.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Bold.otf') format('opentype');
     font-weight: 700;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-ExtraBold.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-ExtraBold.otf') format('opentype');
     font-weight: 800;
     font-display: swap;
}

@font-face {
     font-family: 'Pretendard';
     src:url('/wsrv/app/fonts/Pretendard-Black.woff2') format('woff2'),
          url('/wsrv/app/fonts/Pretendard-Black.otf') format('opentype');
     font-weight: 900;
     font-display: swap;
}