*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    font-size: 62.5%;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    position: relative;
    font-family: 'Pretendard';
    @include font(14px, 400, 1.2);
    color: $cl-black;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style: none;
}

img {
    border: 0;
    display: block;
    width: 100%;
    max-width: 100%;
    object-fit: contain;
}

button, a {
    font-family: "Pretendard";
    color: inherit;
    cursor: pointer;
    text-decoration: none;
    border: none;
    background-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
    color: inherit;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

.hidden {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
}

label {
    display: block;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

iframe {
    border: 0;
    height: 100%;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}
::-webkit-scrollbar-thumb {
    background-color: $cl-gr-50;
    border-radius: 10px;
    background-clip: padding-box;
    border: 2px solid transparent;
}
::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 10px;
    box-shadow: none;
}