
$bgColor:     #f0f0f3;
$gnbColor:    #48317D;
$tabColor:    #674f9e ;
$boxLineColor:#dfdaeb;
$primary:     #1d1d1d;
$pointColor1: #ec008c;
$pointColor2: #219be0;
$orange:      #fd9f34;
$warning:     #FF4D47;
$bluegreen:   #4F839E;
  
$commonBtn:       #48317D;
$commonBtn_hover: #5D3FA2;
$commonBtn_on:    #332358;
$searchBtn:       #494963;
$searchBtn_hover: #57596B;
$searchBtn_on:    #27293A;
$inquiryBtn:      #6153B6;
$inquiryBtn_hover:#8277C5;
$inquiryBtn_on:   #4C4096;
$todayBtn:        #ec008c;
$todayBtn_hover:  #FF20A4;
$todayBtn_on:     #B9006E;

$grayscale90:#1d1d1d;
$grayscale80:#2d2d2d;
$grayscale70:#555555;
$grayscale60:#767676;
$grayscale50:#bebebe;
$grayscale40:#c6c6c6;
$grayscale20:#e4e4e4;
$grayscale10:#f0f0f0;
$grayscale05:#f8f8f8;

$basicBorder:6px;
$btn-border:3px;
$boxShadow:0 3px 10px rgba(72, 49, 125, 0.4);
$boxShadow_gray:0 3px 10px rgba(72, 49, 125, 0.2);



// Modal Popup
$modalPopupSizeDefault: 25rem;
$modalPopupSizeS: 31.25rem;
$modalPopupSizeM: 37.5rem;
$modalPopupSizeL: 59.375rem;
$modalPopupSizeXL: 81.25rem;

$modalPopupSizeFull: 100%;

// =============================================================================
// font-size
// =============================================================================
$fs-xl: 1.8rem;
$fs-l: 1.5rem;
$fs-default: 1.4rem;
$fs-m: 1.3rem;
$fs-s: 1.2rem;
$fs-xs: .875rem;

// =============================================================================
// font-weight
// =============================================================================
$fontweight: (300, 400, 500, 600, 700);

@each $weight in $fontweight {
  //All around Margin
  .fontWeight-#{$weight} {
    font-weight: #{$weight};
  }
}

// =============================================================================
// Margin & Padding
// =============================================================================

$spaceamounts: (-20, 0, 3, 4, 5, 6, 7, 8, 9, 10, 15, 20, 28, 30, 40, 50);

@each $space in $spaceamounts {
  //All around Margin
  .m-#{$space} {
    margin: #{$space}px!important;
  }
  //Margin
  .mv-#{$space} {
    margin: #{$space}px 0!important;
  }
  .mw-#{$space} {
    margin: 0 #{$space}px!important;
  }
  .ml-#{$space} {
    margin-left: #{$space}px!important;
  }
  .mr-#{$space} {
    margin-right: #{$space}px!important;
  }
  .mt-#{$space} {
    margin-top: #{$space}px!important;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}px!important;
  }

  //All around Padding
  .p-#{$space} {
    padding: #{$space}px;
  }
  //Vertical Padding
  .pv-#{$space} {
    padding: #{$space}px 0;
  }
    //Padding
    .pl-#{$space} {
      padding-left: #{$space}px!important;
    }
    .pr-#{$space} {
      padding-right: #{$space}px!important;
    }
    .pt-#{$space} {
      padding-top: #{$space}px!important;
    }
}

// 분기 포인트 선언
$breakpoints: (
  desktop_old: 960px,
  desktop: 1281px,
  legacy:1600,
  desktop_wide: 1921px,
);

// 믹스인 작성
@mixin mediaquery($breakpoint: desktop_old, $map: $breakpoints) {
  @if type-of($map) == map {
    @if map-has-key($map, $breakpoint) {
      @media (min-width: #{map-get($map, $breakpoint)}) {
        @content;
      }
    }
  }
}

@mixin ellipsis($w) {
    width: $w;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

// =============================================================================
// width값 height값
// =============================================================================
$widthamounts: (4, 5, 6, 7, 8, 9, 10, 15, 20, 25, 30, 35, 40, 43, 46, 50, 60, 70, 120);

@each $width in $widthamounts {
  //All around Margin
  .w-#{$width} {
    width: #{$width}rem !important;
  }
}
@each $height in $widthamounts {
  //All around Margin
  .h-#{$height} {
    height: #{$height}px !important;
  }
}

// position
@mixin position($p: absolute, $t: null, $b: null, $l: null, $r: null) {
  position: $p;
  top: $t;
  bottom: $b;
  left: $l;
  right: $r;
}


// ============================== COLOR ==============================
// PRIMARY COLOR
$cl-black: #000;
$cl-white: #fff;

// GRAY COLOR
$cl-gr-5: #F8F8F8;
$cl-gr-10: #EEEEEE;
$cl-gr-20: #E0E0E0;
$cl-gr-30: #CACACA;
$cl-gr-40: #A5A7AC;
$cl-gr-50: #7F838B;
$cl-gr-60: #60676F;
$cl-gr-70: #575F6C;
$cl-gr-80: #4B4B4B;
$cl-gr-90: #333333;
$cl-gr-100: #151515;

// SLATE GRAY COLOR
$cl-sg-5: #F2F7FB;
$cl-sg-10: #E1EBF4;
$cl-sg-20: #DFE7F3;
$cl-sg-30: #C9D2DE;
$cl-sg-40: #A8B3C1;
$cl-sg-50: #768497;
$cl-sg-60: #475569;
$cl-sg-70: #334155;
$cl-sg-80: #1E293B;
$cl-sg-90: #0F172A;
$cl-sg-100: #020617;

// MAGENTA COLOR
$cl-magenta-5: #FDF2FA;
$cl-magenta-10: #FEEAFA;
$cl-magenta-20: #FFE3F6;
$cl-magenta-30: #FFBFE2;
$cl-magenta-40: #F778BD;
$cl-magenta-50: #EC008C;
$cl-magenta-60: #DB2777;
$cl-magenta-70: #BE185D;
$cl-magenta-80: #9D174D;
$cl-magenta-90: #831843;
$cl-magenta-100: #500724;

// PURPLE COLOR
$cl-purple-5: #F9F5FF;
$cl-purple-10: #EDE9FE;
$cl-purple-20: #DDD6FE;
$cl-purple-30: #D0C3FF;
$cl-purple-40: #A78BFA;
$cl-purple-50: #8B5CF6;
$cl-purple-60: #7C3AED;
$cl-purple-70: #6D28D9;
$cl-purple-80: #5B21B6;
$cl-purple-90: #4C1D95;
$cl-purple-100: #351B6F;

// NAVY COLOR
$cl-navy-5: #EEF2F7;
$cl-navy-10: #EAF4FF;
$cl-navy-20: #C1D8F2;
$cl-navy-30: #90B0D5;
$cl-navy-40: #6B96C7;
$cl-navy-50: #346FB2;
$cl-navy-60: #1C589C;
$cl-navy-70: #204977;
$cl-navy-80: #052B57;
$cl-navy-90: #031F3F;
$cl-navy-100: #02162C;

// BLUE COLOR
$cl-blue-5: #F0F7FF;
$cl-blue-10: #EAF4FF;
$cl-blue-20: #BFDBFE;
$cl-blue-30: #93C5FD;
$cl-blue-40: #60A5FA;
$cl-blue-50: #3B82F6;
$cl-blue-60: #2563EB;
$cl-blue-70: #1D4ED8;
$cl-blue-80: #1E40AF;
$cl-blue-90: #1E3A8A;
$cl-blue-100: #172554;

// GREEN COLOR
$cl-green-5: #ECFDF5;
$cl-green-10: #D2F7E4;
$cl-green-20: #A8EDCE;
$cl-green-30: #74E2B7;
$cl-green-40: #3BCF99;
$cl-green-50: #10B981;
$cl-green-60: #059669;
$cl-green-70: #047857;
$cl-green-80: #065F46;
$cl-green-90: #064E3B;
$cl-green-100: #022C22;

// YELLOW COLOR
$cl-yellow-5: #FFFAEB;
$cl-yellow-10: #FFF7DC;
$cl-yellow-20: #FEF08A;
$cl-yellow-30: #FDE047;
$cl-yellow-40: #FACC15;
$cl-yellow-50: #EAB308;
$cl-yellow-60: #CF9419;
$cl-yellow-70: #A16207;
$cl-yellow-80: #854D0E;
$cl-yellow-90: #713F12;
$cl-yellow-100: #442006;

// RED COLOR
$cl-red-5: #FEF3F2;
$cl-red-10: #FEE2E2;
$cl-red-20: #FCA5A5;
$cl-red-30: #FCA5A5;
$cl-red-40: #F87171;
$cl-red-50: #EF4444;
$cl-red-60: #DC2626;
$cl-red-70: #B91C1C;
$cl-red-80: #991B1B;
$cl-red-90: #7C2D12;
$cl-red-100: #431407;

// ORANGE COLOR
$cl-orange-5: #FFF7ED;
$cl-orange-10: #FFEDD5;
$cl-orange-20: #FED7AA;
$cl-orange-30: #FDBA74;
$cl-orange-40: #FB923C;
$cl-orange-50: #F97316;
$cl-orange-60: #EA580C;
$cl-orange-70: #C2410C;
$cl-orange-80: #9A3412;
$cl-orange-90: #7C2D12;
$cl-orange-100: #431407;

// CYAN COLOR
$cl-cyan-5: #F5FFFF;
$cl-cyan-10: #D6EDEF;
$cl-cyan-20: #ABD8E3;
$cl-cyan-30: #75C0D1;
$cl-cyan-40: #3D9FB8;
$cl-cyan-50: #268097;
$cl-cyan-60: #1F687A;
$cl-cyan-70: #17505E;
$cl-cyan-80: #113B45;
$cl-cyan-90: #0E3139;
$cl-cyan-100: #091F25;

// ============================== FONT ==============================
// FONT-SIZE
$fs-22: 22px;
$fs-20: 20px;
$fs-18: 18px;
$fs-17: 17px;
$fs-16: 16px;
$fs-14: 14px;
$fs-13: 13px;
$fs-12: 12px;
$fs-11: 11px;


// ============================== MARGIN & PADDING ==============================
$spaceMounts: (0, 4, 8, 12, 16, 20, 22, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60);
@each $space in $spaceMounts {
    // MARGIN
    .mt-#{$space} {
        margin-top: #{$space}px !important;
    }
    .ml-#{$space} {
        margin-left: #{$space}px !important;
    }
    .mr-#{$space} {
        margin-right: #{$space}px !important;
    }
    .mb-#{$space} {
        margin-bottom: #{$space}px !important;
    }
    .mg-#{$space} {
        margin: #{$space}px !important;
    }
    // PADDING
    .pt-#{$space} {
        padding-top: #{$space}px !important;
    }
    .pl-#{$space} {
        padding-left: #{$space}px !important;
    }
    .pr-#{$space} {
        padding-right: #{$space}px !important;
    }
    .pb-#{$space} {
        padding-bottom: #{$space}px !important;
    }
    .pd-#{$space} {
        padding: #{$space}px !important;
    }
    // GAP
    .gap-#{$space} {
        gap: #{$space}px !important;
    }
}