.btn-wrap {
    width: 100%;
    position: relative;
    @include flex(row, center, center, 4px);
    > button, > a {
        flex: 1;
        width: 100%;
        position: relative;
    }
    &.col {
        flex-direction: column;
    }
    &[data-width="auto"] {
        width: fit-content;
    }
    &.txt-center {
        button, a {
            flex: none;
            width: fit-content;
            display: block;
            text-align: center;
        }
    }
}

.btn {
    width: fit-content;
    position: relative;
    padding: 2px 6px;
    border-radius: 2px;
    @include flex(row, center, center, 0);
    @include font(12px, 500, 1);
    border: 1px solid $cl-p-magenta;
    background-color: $cl-p-magenta;
    color: $cl-white;
    text-align: center;
    white-space: nowrap;
    will-change: background-color, border-color, color;
    transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
    span {
        position: relative;
        pointer-events: none;
    }
    &:hover {
        border-color: $cl-magenta-70;
        background-color: $cl-magenta-70;
        color: $cl-white;
    }
    &:active {
        border-color: $cl-magenta-90;
        background-color: $cl-magenta-90;
        color: $cl-white;
    }
    &:disabled, &.disabled {
        border-color: $cl-magenta-30;
        background-color: $cl-magenta-30;
        pointer-events: none;
    }
    &[data-btn-size="s"] {
        height: 20px;
        border-radius: 3px;
        font-size: 13px;
    }
    &[data-btn-size="m"] {
        height: 24px;
        border-radius: 3px;
        padding: 4px 6px;
        font-size: 13px;
    }
    &[data-btn-size="l"] {
        height: 32px;
        border-radius: 4px;
        padding: 7px 12px;
        font-size: 14px;
    }
    &[data-btn-size="xl"] {
        height: 40px;
        border-radius: 4px;
        padding: 10px 12px;
        font-size: 16px;
    }
    &.add {
        span {
            padding-left: 18px;
            &::before {
                content: "";
                width: 16px;
                height: 16px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.5 10V6.5H2C1.72386 6.5 1.5 6.27614 1.5 6C1.5 5.72386 1.72386 5.5 2 5.5H5.5V2C5.5 1.72386 5.72386 1.5 6 1.5C6.27614 1.5 6.5 1.72386 6.5 2V5.5H10C10.2761 5.5 10.5 5.72386 10.5 6C10.5 6.27614 10.2761 6.5 10 6.5H6.5V10C6.5 10.2761 6.27614 10.5 6 10.5C5.72386 10.5 5.5 10.2761 5.5 10Z' fill='white'/%3E%3C/svg%3E");
                @include bg-set;
                @include ps-icon;
            }
        }
    }
    &.retry {
        padding: 3px;
        background-color: $cl-white;
        border-color: $cl-gr-50;
        border-radius: 3px;
        &::after {
            content: "";
            width: 16px;
            height: 16px;
            display: block;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_arrow-rotate_right.png");
        }
        &[data-btn-size="s"] {
            padding: 2px 3px;
            &::after {
                width: 12px;
                height: 12px;
            }
        }
    }
    &.delete {
        width: 20px;
        height: 20px;
        padding: 0;
        border-radius: 3px;
        &::after {
            content: "";
            width: 16px;
            height: 16px;
            display: block;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_close.png");
            opacity: 0.6;
        }
        &[data-btn-size="s"] {
            width: 18px;
            height: 18px;
            &::after {
                width: 12px;
                height: 12px;
            }
        }
    }
    &.save {
        padding: 2px;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            display: block;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_download.png");
        }
    }
    &.plus {
        padding: 2px;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            display: block;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_plus.png");
        }
    }
    &.link {
        span {
            position: relative;
            padding-right: 14px;
            &::after {
                content: "";
                width: 12px;
                height: 12px;
                @include bg-set;
                background-image: url("/wsrv/app/img/new/common/ico_arrows_chevron_right.png");
                filter: invert(0.7);
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }
        }
    }
    &.list {
        span {
            padding-left: 14px;
            position: relative;
            &::before {
                content: "";
                width: 12px;
                height: 12px;
                @include ps-icon;
                @include bg-set;
                background-image: url("/wsrv/app/img/new/common/ico_edit_list.png");
            }
        }
    }
    &.calendar {
        span {
            padding-left: 14px;
            position: relative;
            &::before {
                content: "";
                width: 12px;
                height: 12px;
                @include ps-icon;
                @include bg-set;
                background-image: url("/wsrv/app/img/new/common/ico_calendar.png");
            }
        }
    }
    &.close {
        padding: 2px;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            display: block;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_close.png");
            filter: invert(0.4);
        }
    }
    // BLACK
    &.black {
        border-color: $cl-black;
        background-color: $cl-black;
        &:hover {
            border-color: $cl-gr-60;
            background-color: $cl-gr-60;
        }
        &:active {
            border-color: $cl-gr-80;
            background-color: $cl-gr-80;
        }
        &:disabled, &.disabled {
            border-color: $cl-gr-30;
            background-color: $cl-gr-30;
        }
    }
    // DARK GRAY
    &.dg-fill {
        border-color: transparent;
        background-color: $cl-black;
        color: $cl-white;
        &:hover {
            background-color: $cl-gr-60;
        }
        &:active {
            background-color: $cl-gr-80;
        }
        &:disabled, &.disabled {
            background-color: $cl-gr-30;
        }
    }
    // DARK GRAY + LINE
    &.dg-line {
        border-color: $cl-gr-70;
        background-color: $cl-white;
        color: $cl-black;
        &:hover {
            background-color: $cl-gr-20;
        }
        &:active {
            background-color: $cl-gr-40;
        }
        &:disabled, &.disabled {
            border-color: $cl-gr-30;
            background-color: $cl-white;
            color: $cl-gr-50;
        }
    }
    // WRAM GRAY + LINE
    &.wg-line {
        border-color: $cl-gr-50;
        background-color: $cl-white;
        color: $cl-gr-80;
        &:hover {
            border-color: $cl-gr-50;
            background-color: $cl-gr-20;
        }
        &:active {
            border-color: $cl-gr-50;
            background-color: $cl-gr-40;
        }
        &:disabled, &.disabled {
            border-color: $cl-gr-30;
            background-color: $cl-white;
            color: $cl-gr-50;
        }
    }
    // COOL GRAY
    &.cg-fill {
        border-color: $cl-sg-60;
        background-color: $cl-sg-60;
        color: $cl-white;
        &:hover {
            border-color: $cl-sg-40;
            background-color: $cl-sg-40;
        }
        &:active {
            border-color: $cl-sg-80;
            background-color: $cl-sg-80;
        }
        &:disabled, &.disabled {
            border-color: $cl-sg-30;
            background-color: $cl-sg-30;
        }
    }
    // COOL GRAY + LINE
    &.cg-line {
        border-color: $cl-sg-30;
        background-color: $cl-white;
        color: $cl-sg-60;
        &:hover {
            border-color: $cl-sg-30;
            background-color: $cl-sg-20;
        }
        &:active {
            border-color: $cl-sg-30;
            background-color: $cl-sg-30;
        }
        &:disabled, &.disabled {
            border-color: $cl-sg-30;
            background-color: $cl-white;
            color: $cl-sg-40;
        }
    }
    // MAGENTA 
    &.mg-line {
        border-color: $cl-magenta-30;
        background-color: $cl-magenta-5;
        color: $cl-magenta-50;
        &:hover {
            border-color: $cl-magenta-30;
            background-color: $cl-magenta-20;
        }
        &:active {
            border-color: $cl-magenta-30;
            background-color: $cl-magenta-30;
        }
        &:disabled, &.disabled {
            border-color: $cl-purple-30;
            background-color: $cl-purple-5;
            color: $cl-magenta-30;
        }
    }
    // PURPLE
    &.purple {
        border-color: $cl-purple-80;
        background-color: $cl-purple-80;
        color: $cl-white;
        &:hover {
            border-color: $cl-purple-50;
            background-color: $cl-purple-50;
        }
        &:active {
            border-color: $cl-purple-70;
            background-color: $cl-purple-70;
        }
        &:disabled, &.disabled {
            border-color: $cl-purple-30;
            background-color: $cl-purple-30;
        }
    }
    &.purple-line {
        border-color: $cl-purple-30;
        background-color: $cl-purple-5;
        color: $cl-purple-80;
        &:hover {
            border-color: $cl-purple-30;
            background-color: $cl-purple-20;
        }
        &:active {
            border-color: $cl-purple-30;
            background-color: $cl-purple-30;
        }
        &:disabled, &.disabled {
            border-color: $cl-purple-30;
            background-color: $cl-purple-5;
            color: $cl-purple-30;
            &.add {
                span {
                    &::before {
                        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.5 10V6.5H2C1.72386 6.5 1.5 6.27614 1.5 6C1.5 5.72386 1.72386 5.5 2 5.5H5.5V2C5.5 1.72386 5.72386 1.5 6 1.5C6.27614 1.5 6.5 1.72386 6.5 2V5.5H10C10.2761 5.5 10.5 5.72386 10.5 6C10.5 6.27614 10.2761 6.5 10 6.5H6.5V10C6.5 10.2761 6.27614 10.5 6 10.5C5.72386 10.5 5.5 10.2761 5.5 10Z' fill='%23CBA7D8'/%3E%3C/svg%3E");
                    }
                }
            }
        }
        &.add {
            span {
                &::before {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.5 10V6.5H2C1.72386 6.5 1.5 6.27614 1.5 6C1.5 5.72386 1.72386 5.5 2 5.5H5.5V2C5.5 1.72386 5.72386 1.5 6 1.5C6.27614 1.5 6.5 1.72386 6.5 2V5.5H10C10.2761 5.5 10.5 5.72386 10.5 6C10.5 6.27614 10.2761 6.5 10 6.5H6.5V10C6.5 10.2761 6.27614 10.5 6 10.5C5.72386 10.5 5.5 10.2761 5.5 10Z' fill='%2362288B'/%3E%3C/svg%3E");
                }
            }
        }
    }
    // BLUE
    &.blue-line {
        background-color: $cl-blue-5;
        border-color: $cl-blue-30;
        color: $cl-blue-70;
        &:hover {
            background-color: $cl-blue-20;
            border-color: $cl-blue-30;
        }
        &:active {
            background-color: $cl-blue-30;
            border-color: $cl-blue-30;
        }
        &:disabled, .disabled {
            background-color: $cl-blue-5;
            border-color: $cl-blue-30;
            color: $cl-blue-30;
        }
    }
}

.txt-btn {
    width: fit-content;
    position: relative;
    @include font(12px, 400, 1);
    color: $cl-black;
    white-space: nowrap;
    &.link {
        padding-right: 14px;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_arrows_chevron_right.png");
            filter: invert(1);
        }
    }
    &.plus {
        padding-left: 14px;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            @include ps-icon;
            @include bg-set;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M5.5 10V6.5H2C1.72386 6.5 1.5 6.27614 1.5 6C1.5 5.72386 1.72386 5.5 2 5.5H5.5V2C5.5 1.72386 5.72386 1.5 6 1.5C6.27614 1.5 6.5 1.72386 6.5 2V5.5H10C10.2761 5.5 10.5 5.72386 10.5 6C10.5 6.27614 10.2761 6.5 10 6.5H6.5V10C6.5 10.2761 6.27614 10.5 6 10.5C5.72386 10.5 5.5 10.2761 5.5 10Z' fill='black'/%3E%3C/svg%3E");
        }
    }
    &.blue {
        @include font(12px, 400, 1.1);
        color: $cl-blue-70;
        border-bottom: 1px solid $cl-blue-70;
        // text-decoration: underline;
        &[data-btn-size="s"] {
            @include font(12px, 400, 1.1);
        }
        &[data-btn-size="m"] {
            font-size: 13px;
        }
        &[data-btn-size="l"] {
            font-size: 14px;
        }
        &[data-btn-size="xl"] {
            font-size: 16px;
        }
    }
}