.dropdown-box {
    @include border-box;
    position: absolute;
    opacity: 0;
    pointer-events: none;
    will-change: opacity;
    transition: opacity 0.2s;
    z-index: 20;
    &.active {
        opacity: 1;
        pointer-events: all;
    }
    .dropdown-header {
        width: 100%;
        position: relative;
        @include flex(row, center, space-between, 20px);
        padding: 12px 16px;
        .dropdown-title {
            @include font(16px, 700, 1.25);
            color: $cl-black;
        }
        .btn.close {
            width: 20px;
            height: 20px;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_close.png");
            background-color: transparent;
            border: none;
            &::after {
                display: none;
            }
        }
    }
    .dropdown-content {
        width: 100%;
        position: relative;
        padding: 0 16px 16px;
    }
}