.input-box {
    width: 100%;
    position: relative;
    @include flex(row, center, flex-start, 0);
    &.search {
        .search-btn {
            width: 16px;
            height: 16px;
            background-color: transparent;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.83333 1.5C9.77885 1.5 12.1667 3.88781 12.1667 6.83333C12.1667 8.06573 11.7469 9.19912 11.0449 10.1022L14.3047 13.362C14.565 13.6223 14.565 14.0444 14.3047 14.3047C14.0444 14.565 13.6223 14.565 13.362 14.3047L10.1022 11.0449C9.19912 11.7469 8.06573 12.1667 6.83333 12.1667C3.88781 12.1667 1.5 9.77885 1.5 6.83333C1.5 3.88781 3.88781 1.5 6.83333 1.5ZM6.83333 2.83333C4.62419 2.83333 2.83333 4.62419 2.83333 6.83333C2.83333 9.04247 4.62419 10.8333 6.83333 10.8333C9.04247 10.8333 10.8333 9.04247 10.8333 6.83333C10.8333 4.62419 9.04247 2.83333 6.83333 2.83333Z' fill='%23616161'/%3E%3C/svg%3E");
            @include bg-set;
            @include ps-icon;
            left: auto;
            right: 4px;
        }
        input:disabled + .search-btn {
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M6.83333 1.5C9.77885 1.5 12.1667 3.88781 12.1667 6.83333C12.1667 8.06573 11.7469 9.19912 11.0449 10.1022L14.3047 13.362C14.565 13.6223 14.565 14.0444 14.3047 14.3047C14.0444 14.565 13.6223 14.565 13.362 14.3047L10.1022 11.0449C9.19912 11.7469 8.06573 12.1667 6.83333 12.1667C3.88781 12.1667 1.5 9.77885 1.5 6.83333C1.5 3.88781 3.88781 1.5 6.83333 1.5ZM6.83333 2.83333C4.62419 2.83333 2.83333 4.62419 2.83333 6.83333C2.83333 9.04247 4.62419 10.8333 6.83333 10.8333C9.04247 10.8333 10.8333 9.04247 10.8333 6.83333C10.8333 4.62419 9.04247 2.83333 6.83333 2.83333Z' fill='%23BDBDBD'/%3E%3C/svg%3E");
        }
        .input-type-txt {
            .delete-btn {
                right: 24px;
                padding: 0;
            }
        }
    }
    &[data-width="auto"] {
        width: fit-content;
    }
}

.input-col-box {
    width: 100%;
    position: relative;
    .input-label {
        @include font(13px, 500, 1.2);
        color: $cl-black;
        position: relative;
        margin-bottom: 4px;
        &.required {
            &::after {
                content: "*";
                display: inline-block;
                @include font(13px, 500, 1.2);
                color: $cl-magenta-50;
                margin-left: 2px;
            }
        }
    }
    .inner {
        width: 100%;
        position: relative;
        @include flex(row, center, flex-start, 4px);
        .dash {
            @include font(13px, 400, 1);
            color: $cl-black;
        }
    }
    & + .input-col-box {
        margin-top: 8px;
    }
}

.input-type-txt {
    width: 100%;
    position: relative;
    .delete-btn {
        width: 16px;
        height: 16px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4px;
        @include bg-set;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M8.00016 1.33331C11.6821 1.33331 14.6668 4.31808 14.6668 7.99998C14.6668 11.6819 11.6821 14.6666 8.00016 14.6666C4.31826 14.6666 1.3335 11.6819 1.3335 7.99998C1.3335 4.31808 4.31826 1.33331 8.00016 1.33331ZM10.7046 5.2949C10.4442 5.03485 10.0221 5.03471 9.76188 5.2949L7.99951 7.05662L6.23779 5.2949C5.97742 5.03483 5.55534 5.03464 5.29508 5.2949C5.03483 5.55516 5.03501 5.97724 5.29508 6.23761L7.0568 7.99933L5.29508 9.7617C5.03489 10.022 5.03503 10.4441 5.29508 10.7044C5.55542 10.9647 5.97746 10.9647 6.23779 10.7044L7.99951 8.94204L9.76188 10.7044C10.0222 10.9646 10.4443 10.9647 10.7046 10.7044C10.9649 10.4441 10.9648 10.0221 10.7046 9.7617L8.94222 7.99933L10.7046 6.23761C10.9649 5.97728 10.9649 5.55523 10.7046 5.2949Z' fill='%23BDBDBD'/%3E%3C/svg%3E");
        opacity: 0;
        pointer-events: none;
        will-change: opacity;
        transition: opacity 0.2s;
    }
    &.has-value {
        .delete-btn {
            opacity: 1;
            pointer-events: all;
        }
    }
}

// TEXT INPUT
.common-input {
    --width: 100%;
    width: var(--width);
    height: 24px;
    position: relative;
    border-radius: 3px;
    border: 1px solid $cl-gr-50;
    background-color: $cl-white;
    padding-inline: 4px;
    font-family: "Pretendard";
    @include font(13px, 400, 1);
    color: $cl-black;
    &::placeholder {
        color: $cl-gr-60;
    }
    &:active, &:focus {
        outline: none;
        border-color: $cl-purple-80;
    }
    &:disabled, .disabled {
        background-color: $cl-gr-5;
        border-color: $cl-gr-30;
        color: $cl-gr-50;
    }
    &:read-only {
        background-color: $cl-gr-5;
        border-color: $cl-gr-50;
    }
    // &:required, .required {
    //     background-color: $cl-purple-5;
    //     border-color: $cl-purple-30;
    // }
    &[data-input-size="s"] {
        height: 20px;
    }
    &[type='number'] {
        appearance: none;
        -moz-appearance: textfield;
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
        &::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }
    &[type='date'] {
        background: $cl-white url("/wsrv/app/img/new/common/ico_calendar.png") no-repeat right 4px center / 12px 12px;
        &::-webkit-calendar-picker-indicator {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: none;
            color: transparent;
            cursor: pointer;
        }
        &:read-only, &.disabled, &:disabled {
            background: $cl-gr-5 url("/wsrv/app/img/new/common/ico_calendar_disabled.png") no-repeat right 4px center / 12px 12px;
        }
    }
}

// RADIO
.common-radio {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    & + .txt {
        @include font(12px, 400, 1);
        color: $cl-black;
        position: relative;
        padding-left: 20px;
        cursor: pointer;
        &::before {
            content: "";
            width: 16px;
            height: 16px;
            border-radius: 50%;
            border: 1px solid $cl-gr-50;
            position: absolute;
            top: -2px;
            left: 0;
        }
    }
    &:checked {
        & + .txt {
            &::before {
                border: 5px solid $cl-purple-80;
            }
        }
    }
    &[data-input-size="big"] {
        & + .txt {
            padding-left: 24px;
            font-size: 13px;
            &::before {
                width: 20px;
                height: 20px;
                top: -3px;
            }
        }
    }
}

// CHECKBOX
.common-checkbox {
    display: none;
    opacity: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    & + span {
        width: 16px;
        height: 16px;
        display: block;
        cursor: pointer;
        position: relative;
        border-radius: 2px;
        border: 1px solid $cl-gr-50;
        background-color: $cl-white;
        will-change: background-color, border-color;
        transition: background-color 0.2s, border-color 0.2s;
        &::after {
            content: "";
            width: 12px;
            height: 12px;
            @include ps-center;
            @include bg-set;
            background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M8.96967 2.96973C9.26256 2.67684 9.73732 2.67684 10.0302 2.96973C10.3231 3.26262 10.3231 3.73738 10.0302 4.03028L5.03022 9.03028C4.73732 9.32317 4.26256 9.32317 3.96967 9.03028L1.96967 7.03028C1.67678 6.73738 1.67678 6.26262 1.96967 5.96973C2.26256 5.67684 2.73732 5.67684 3.03022 5.96973L4.49994 7.43946L8.96967 2.96973Z' fill='%23E0E0E0'/%3E%3C/svg%3E");
            will-change: background-image;
            transition: background-image 0.2s;
        }
        & + .txt {
            @include font(12px, 400, 1);
            color: $cl-black;
            margin-left: 4px;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
        }
    }
    &:checked {
        & + span {
            background-color: $cl-purple-80;
            border-color: $cl-purple-80;
            &::after {
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M8.96967 2.96973C9.26256 2.67684 9.73732 2.67684 10.0302 2.96973C10.3231 3.26262 10.3231 3.73738 10.0302 4.03028L5.03022 9.03028C4.73732 9.32317 4.26256 9.32317 3.96967 9.03028L1.96967 7.03028C1.67678 6.73738 1.67678 6.26262 1.96967 5.96973C2.26256 5.67684 2.73732 5.67684 3.03022 5.96973L4.49994 7.43946L8.96967 2.96973Z' fill='white'/%3E%3C/svg%3E");
            }
        }
    }
    &:disabled {
        & + span {
            background-color: $cl-gr-5;
            border-color: $cl-gr-30;
            &::after {
                background-image: none;
            }
        }
        &:checked {
            & + span {
                &::after {
                    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' viewBox='0 0 12 12' fill='none'%3E%3Cpath d='M8.96967 2.96973C9.26256 2.67684 9.73732 2.67684 10.0302 2.96973C10.3231 3.26262 10.3231 3.73738 10.0302 4.03028L5.03022 9.03028C4.73732 9.32317 4.26256 9.32317 3.96967 9.03028L1.96967 7.03028C1.67678 6.73738 1.67678 6.26262 1.96967 5.96973C2.26256 5.67684 2.73732 5.67684 3.03022 5.96973L4.49994 7.43946L8.96967 2.96973Z' fill='%23CECECE'/%3E%3C/svg%3E");
                }
            }
        }
    }
    &[data-input-size="big"] {
        & + span {
            width: 20px;
            height: 20px;
            border-radius: 3px;
            &::after {
                width: 16px;
                height: 16px;
            }
            & + .txt {
                font-size: 13px;
            }
        }
    }
}

// TEXTAREA
.common-textarea {
    width: 100%;
    min-height: 72px;
    position: relative;
    border-radius: 3px;
    border: 1px solid $cl-gr-50;
    background-color: $cl-white;
    resize: none;
    padding: 4px;
    font-family: "Pretendard";
    @include font(13px, 400, 1.2);
    color: $cl-black;
    outline: none;
    &::placeholder {
        color: $cl-gr-60;
    }
    &:active, &:focus {
        border-color: $cl-purple-80;
    }
    &:disabled, .disabled {
        background-color: $cl-gr-5;
        border-color: $cl-gr-30;
        color: $cl-gr-50;
    }
    &:read-only {
        background-color: $cl-gr-5;
        border-color: $cl-gr-50;
    }
    // &:required, .required {
    //     background-color: $cl-purple-5;
    //     border-color: $cl-purple-30;
    // }
}

// SWITCH
.common-switch {
    width: fit-content;
    position: relative;
    label {
        width: fit-content;
        position: relative;
        cursor: pointer;
        &::before {
            content: "";
            display: block;
            width: 32px;
            height: 18px;
            background-color: $cl-gr-50;
            position: relative;
            border-radius: 50px;
            will-change: background-color;
            transition: background-color 0.2s;
        }
        &::after {
            content: "";
            width: 14px;
            height: 14px;
            border-radius: 50%;
            background-color: $cl-white;
            box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.15);
            position: absolute;
            top: 2px;
            left: 2px;
            will-change: left;
            transition: left 0.2s;
        }
        .txt {
            @include font(12px, 400, 1);
            position: absolute;
            top: 3px;
            right: 0;
            padding-right: 36px;
            white-space: nowrap;
            @include font(12px, 400, 1.16);
            color: $cl-black;
        }
    }
    input:checked {
        & + label {
            &::before {
                background-color: $cl-purple-80;
            }
            &::after {
                left: 16px;
            }
        }
    }
}