.label {
    display: block;
    width: fit-content;
    padding: 2px 6px;
    border-radius: 50px;
    @include font(11px, 500, 1);
    color: $cl-white;
    background-color: $cl-p-magenta;
    border: 1px solid transparent;
    &[data-label-size="m"] {
        font-size: 12px;
        padding: 3px 6px;
    }
    &[data-label-size="l"] {
        font-size: 13px;
        padding: 4px 6px;
    }
    &[data-label-type="box"] {
        border-radius: 3px;
        &.purple {
            background-color: $cl-purple-20;
            color: $cl-purple-80;
        }
    }
    // magenta
    &.magenta {
        background-color: $cl-p-magenta;
    }
    &.magenta-line {
        background-color: $cl-white;
        border-color: $cl-p-magenta;
        color: $cl-p-magenta;
    }
    // PURPLE
    &.purple {
        background-color: $cl-purple-60;
    }
    &.purple-line {
        background-color: $cl-white;
        border-color: $cl-purple-80;
        color: $cl-purple-80;
    }
    // BLUE
    &.blue {
        background-color: $cl-blue-70;
    }
    &.blue-line {
        background-color: $cl-white;
        border-color: $cl-blue-70;
        color: $cl-blue-70;
    }
    // GREEN
    &.green {
        background-color: $cl-green-70;
    }
    &.green-line {
        background-color: $cl-white;
        border-color: $cl-green-70;
        color: $cl-green-70;
    }
    // YELLOW
    &.yellow {
        background-color: $cl-yellow-50;
    }
    &.yellow-line {
        background-color: $cl-white;
        border-color: $cl-yellow-50;
        color: $cl-orange-60;
    }
    // RED
    &.red {
        background-color: $cl-red-60;
    }
    &.red-line {
        background-color: $cl-white;
        border-color: $cl-red-60;
        color: $cl-red-60;
    }
    // ORANGE
    &.orange {
        background-color: $cl-orange-60;
    }
    &.orange-line {
        background-color: $cl-white;
        border-color: $cl-orange-60;
        color: $cl-orange-60;
    }
    // GRAY
    &.gray {
        background-color: $cl-gr-60;
    }
    &.gray-line {
        background-color: $cl-white;
        border-color: $cl-gr-80;
        color: $cl-gr-80;
    }
}