.ui-dialog {
    @include border-box;
    border: 1px solid $cl-black !important;
    border-radius: 8px;
    padding: 0;
    position: fixed;
    .ui-dialog-titlebar {
        width: 100%;
        position: relative;
        padding: 12px 16px;
        background-color: $cl-purple-80;
        margin-bottom: 16px;
        .ui-dialog-title {
            margin: 0;
            .tit {
                @include font(16px, 700, 1.25);
                color: $cl-white;
            }
        }
        .ui-dialog-titlebar-close {
            width: 20px;
            height: 20px;
            top: 50%;
            transform: translateY(-50%);
            right: 16px;
            margin: 0;
            padding: 0;
            @include bg-set;
            background-image: url("/wsrv/app/img/new/common/ico_close_white.png");
            outline: none;
            span {
                display: none;
            }
            &:hover {
                border: none;
                background-color: transparent;

            }
        }
    }
    .ui-dialog-content {
        padding: 0;
        overflow: hidden;
        background-color: $cl-white;
    }
    // WHITE LAYER
    &.type-white {
        border: none !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.30);
        .ui-dialog-titlebar {
            background-color: $cl-white;
            padding: 16px;
            margin-bottom: 0;
            .ui-dialog-title {
                .tit {
                    color: $cl-black;
                }
            }
            .ui-dialog-titlebar-close {
                filter: invert(1);
            }
        }
        .ui-dialog-content {
            position: relative;
            padding: 0 16px;
            @include font(13px, 400, 1.2);
            color: $cl-black;
            width: 100% !important;
            min-height: fit-content !important;
        }
        .ui-dialog-buttonpane {
            width: 100%;
            position: relative;
            background-color: $cl-white;
            border: none;
            padding: 16px 16px;
            margin-top: 0;
            .ui-dialog-buttonset {
                width: fit-content;
                position: relative;
                @include flex(row, center, flex-end, 4px);
            }
            button {
                width: fit-content;
                height: 24px;
                position: relative;
                padding: 4px 6px;
                margin: 0;
                border-radius: 3px;
                @include flex(row, center, center, 0);
                @include font(13px, 500, 1);
                border: 1px solid $cl-p-magenta;
                background-color: $cl-p-magenta;
                color: $cl-white;
                white-space: nowrap;
                will-change: background-color, border-color, color;
                transition: background-color 0.2s ease, border-color 0.2s ease, color 0.2s ease;
                &:hover {
                    border-color: $cl-magenta-70;
                    background-color: $cl-magenta-70;
                }
                &:active {
                    border-color: $cl-magenta-90;
                    background-color: $cl-magenta-90;
                }
                &:disabled, &.disabled {
                    border-color: $cl-magenta-30;
                    background-color: $cl-magenta-30;
                    pointer-events: none;
                }
                &.black {
                    border-color: $cl-black;
                    background-color: $cl-black;
                    &:hover {
                        border-color: $cl-gr-60;
                        background-color: $cl-gr-60;
                    }
                    &:active {
                        border-color: $cl-gr-80;
                        background-color: $cl-gr-80;
                    }
                    &:disabled, &.disabled {
                        border-color: $cl-gr-30;
                        background-color: $cl-gr-30;
                    }
                }
            }
        }
    }
    // WHITE + BORDER LAYER
    &.type-border {
        .ui-dialog-titlebar {
            background-color: $cl-white;
            margin-bottom: 0;
            .ui-dialog-title {
                .tit {
                    color: $cl-black;
                }
            }
            .ui-dialog-titlebar-close {
                filter: invert(1);
            }
        }
    }
}

.ui-widget-overlay {
    background: rgba(0, 0, 0, 0.1);
    opacity: 1;
}

body.popup {
    padding: 0;
    font-family: "Pretendard";
    .wrap-popup {
        width: 100%;
        position: relative;
        @include flex(column, flex-start, flex-start, 0);
        .popup-bottom {
            width: 100%;
            height: 44px;
            background-color: $cl-sg-5;
            @include flex(row, center, flex-start, 40px);
            padding-inline: 16px;
            .btn-wrap {
                width: fit-content;
                margin-left: auto;
            }
        }
    }
    .main {
        flex: 1;
        width: 100%;
        display: block;
        margin-top: 0;
        overflow-y: auto;
        padding: 0 16px 16px;
    }
    button {
        display: flex;
        font-weight: 500;
        min-width: fit-content;
        line-height: 1;
        margin: 0;
        border: 1px solid transparent;
    }
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus, .ui-button:hover, .ui-button:focus {
    background: transparent;
    border: none;
}

// ================================== 개별 팝업 스타일
// 내 정보 조회
.my-info-detail {
    .common-table {
        tbody {
            th, td {
                text-align: left;
            }
        }
    }
}

// 지점/MY플랜
.my-plan-detail {
    .cnt-item {
        @include flex(row, flex-start, flex-start, 16px);
        .scroll-table {
            height: 450px;
            .common-table {
                thead {
                    th {
                        border-right: 1px solid $cl-gr-40;
                        &:last-child {
                            border-right: none;
                        }
                    }
                }
                tbody {
                    tr {
                        cursor: pointer;
                        td {
                            &:first-child {
                                text-align: left;
                                border-right: 1px solid $cl-gr-40;
                                @include ellipsis(100%);
                            }
                        }
                    }
                }
            }
            &.left {
                width: calc(55% - 8px);
                .common-table {
                    tbody {
                        tr {
                            &.select {
                                td {
                                    background-color: rgba(255, 200, 0, 0.20);
                                }
                            }
                        }
                    }
                }
                &.my {
                    .common-table {
                        tbody {
                            tr {
                                td {
                                    &:first-child {
                                        text-align: center;
                                        pointer-events: none;
                                        .input-box {
                                            justify-content: center;
                                            pointer-events: all;
                                        }
                                    }
                                    &:nth-child(2) {
                                        text-align: left;
                                        border-right: 1px solid $cl-gr-40;
                                    }
                                }
                                &.select {
                                    td {
                                        background-color: rgba(255, 200, 0, 0.20);
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.right {
                width: calc(45% - 8px);
                .common-table {
                    tbody {
                        tr {
                            td {
                                &:nth-child(2) {
                                    text-align: right;
                                }
                            }
                            &.select {
                                td {
                                    background-color: rgba(119, 189, 250, 0.20);
                                }
                            }
                        }
                    }
                }
            }
            .empty {
                display: none;
                height: calc(100% - 30px);
                position: relative;
                .mascot-empty {
                    @include ps-center;
                }
            }
        }
    }
}