.service-wrap {
    width: 100%;
    height: 1000%;
    position: relative;
    background-color: $cl-sg-5;
    @include flex(column, center, center, 0);
    .center-box {
        width: fit-content;
        position: relative;
        text-align: center;
        @include flex(column, center, flex-start, 12px);
        .service-tit {
            display: block;
            position: relative;
            padding-top: 124px;
            @include font(18px, 700, 1.22);
            color: $cl-sg-80;
            &::before {
                content: "";
                width: 120px;
                height: 120px;
                position: absolute;
                top: 0;
                left: 50%;
                transform: translateX(-50%);
                @include bg-set;
            }
        }
        .service-desc {
            @include font(14px, 500, 1.28);
            color: $cl-sg-60;
        }
    }
    .bottom-box {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 40px;
        text-align: center;
        .portal-txt {
            font-family: 'Heungkukseed';
            @include font(14px, 700, 1.28);
            letter-spacing: -0.28px;
            color: $cl-magenta-50;
            margin-bottom: 4px;
        }
        .flex-row {
            gap: 4px;
            span {
                @include font(14px, 400, 1);
                color: $cl-sg-80;
            }
            a {
                @include font(14px, 700, 1);
                color: $cl-sg-80;
            }
        }
    }
    &.guide {
        .center-box {
            .service-tit {
                &::before {
                    background-image: url("/wsrv/app/img/new/common/service_mascot_guide.png");
                }
            }
        }
    }
    &.error {
        .center-box {
            .service-tit {
                &::before {
                    background-image: url("/wsrv/app/img/new/common/service_mascot_error.png");
                }
            }
        }
    }
    &.obstacle {
        .center-box {
            .service-tit {
                &::before {
                    background-image: url("/wsrv/app/img/new/common/service_mascot_obstacle.png");
                }
            }
        }
    }
}