.common-table {
    width: 100%;
    position: relative;
    border-top: 1px solid $cl-black;
    table-layout: fixed;
    thead, tbody {
        tr {
            border-bottom: 1px solid $cl-gr-40;
        }
    }
    tbody {
        th {
            border-right: 1px solid $cl-gr-40;
        }
        tr {
            &:nth-child(even) {
                td {
                    background-color: rgba(200, 200, 200, 0.20);;
                }
            }
            &:hover {
                td {
                    background-color: rgba(119, 189, 250, 0.20);
                }
            }
        }
    }
    th, td {
        height: 28px;
        padding: 4px;
        vertical-align: middle;
    }
    th {
        background-color: $cl-sg-20;
        @include font(13px, 500, 1);
        color: $cl-black;
        text-align: center;
        &.point-bg {
            background-color: $cl-red-10;
        }
        &.required {
            position: relative;
            &::before {
                content: "";
                width: 5px;
                height: 5px;
                position: absolute;
                top: 1px;
                left: 1px;
                @include bg-set;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='5' height='5' viewBox='0 0 5 5' fill='none'%3E%3Cpath d='M0 3.55147V0.6C0 0.268629 0.268629 0 0.6 0H3.55147C4.08601 0 4.35372 0.646284 3.97574 1.02426L1.02426 3.97574C0.646285 4.35371 0 4.08601 0 3.55147Z' fill='%23EC008C'/%3E%3C/svg%3E");
            }
        }
    }
    td {
        background-color: $cl-white;
        @include font(13px, 400, 1);
        color: $cl-black;
        text-align: center;
        will-change: background-color;
        transition: background-color 0.2s;
        .txt-btn {
            font-size: 13px;
        }
    }
    &[data-table-bg="white"] {
        tbody {
            tr {
                td {
                    background-color: $cl-white;
                }
            }
        }
    }
    &[data-table-align="left"] {
        tbody {
            th, td {
                text-align: left;
            }
        }
    }
    &[data-table-border="true"] {
        tr {
            th, td {
                border-right: 1px solid $cl-gr-40;
                &:last-child {
                    border-right: none;
                }
            }
        }
    }
}

.scroll-table {
    width: 100%;
    position: relative;
    border-top: 1px solid $cl-black;
    overflow-y: auto;
    .common-table {
        border-top: none;
        thead {
            th {
                position: -webkit-sticky; 
                position: sticky; 
                top: 0;
                z-index: 5;
            }
        }
    }
    &::-webkit-scrollbar-track {
        background-color: $cl-gr-5;
    }
    // &::-webkit-scrollbar-thumb {
    //     border-left: 3px solid $cl-gr-5;
    //     border-right: 3px solid $cl-gr-5;
    // }
    &::-webkit-scrollbar-button {
        height: 12px;
        background-color: $cl-gr-5;
    }
    &::-webkit-scrollbar-button:vertical:start:decrement {
        background: $cl-gr-5 url('/wsrv/app/img/new/common/ico_scroll_align_up.png') 50% 0 / contain no-repeat;
    }
    &::-webkit-scrollbar-button:vertical:end:increment {
        background: $cl-gr-5 url('/wsrv/app/img/new/common/ico_scroll_align_down.png') 50% 100% / contain no-repeat;
    }
}

.table-with-btn {
    .btn-wrap {
        padding-top: 8px;
        margin-top: -2px;
        border-top: 1px solid $cl-gr-40;
        background-color: $cl-white;
    }
}