.common-tab {
    width: fit-content;
    max-width: 100%;
    position: relative;
    margin-bottom: 12px;
    overflow-x: auto;
    ul {
        @include flex(row, center, flex-start, 8px);
        li {
            flex-shrink: 0;
            button, a {
                @include flex(row, center, flex-start, 2px);
                @include font(14px, 500, 1.2);
                color: $cl-gr-60;
                padding-bottom: 6px;
                position: relative;
                &::after {
                    content: "";
                    width: 100%;
                    height: 2px;
                    background-color: $cl-black;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    display: none;
                }
            }
            &.active {
                button, a {
                    color: $cl-black;
                    font-weight: 700;
                    &::after {
                        display: block;
                    }
                    .state {
                        color: $cl-magenta-50;
                    }
                }
            }
        }
    }
    &[data-tab-type="block"] {
        min-width: 100%;
        border-bottom: 1px solid $cl-black;
        ul {
            gap: 0;
            li {
                button, a {
                    width: fit-content;
                    min-width: 120px;
                    height: 24px;
                    padding: 0 8px;
                    justify-content: center;
                    border-radius: 4px 4px 0 0;
                    border: 1px solid $cl-gr-40;
                    border-bottom: none;
                    background-color: $cl-gr-5;
                    @include font(13px, 500, 1);
                    color: $cl-gr-80;
                    will-change: background-color, color;
                    transition: background-color 0.2s, color 0.2s;
                    &::after {
                        display: none;
                    }
                }
                &.active {
                    button, a {
                        border-color: $cl-black;
                        background-color: $cl-black;
                        font-weight: 700;
                        color: $cl-white;
                    }
                }
            }
        }
    }
}

.tab-content {
    width: 100%;
    position: relative;
    .cnt-item {
        width: 100%;
        position: relative;
    }
}