<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="UTF-8">
    <meta env="SOP-YTKIM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script>
        var global_page_context_path = "";
        var ePortalConfig = {
            "runtime": "local"
            , "license": false
            , "websocket": ""
            , "mainPageId": ""
            , "page_id": '7bd27055ad014707ba23bdcba63b01b5'
            , "userInfo": {}
            , "link": {
                "portalMain": ""
            }
            , "domain": {
                "webmail": ""
                , "nas": ""
                , "hompage": ""
            }
            , "context": {
                "epplt": ("" || global_page_context_path)
                , "noti": ("" || '/alarm')
                , "board": ("" || '')
            }
            , "fileupload": {
                "useFileExt": 'gif|png|jpg|jpeg|ppt|pptx|xls|xlsx|doc|docx|zip|hwp|pdf'
                , "useMigFileExt": 'xls|xlsx'
                , "pencakeAttach": '/staticimg'
            }
        };
        ePortalConfig.userInfo['_ep_USR_PWD'] = '$2a$10$PnV738Vcdc5X9zBzbViWbOprzvNetMcbP4IuIth/0HKAviqtOAWPu';
        ePortalConfig.userInfo['_ep_ORG_SP_CDNM'] = '';
        ePortalConfig.userInfo['_ep_PTN_CDNM'] = '';
        ePortalConfig.userInfo['_ep_DTYCD'] = '';
        ePortalConfig.userInfo['_ep_ORNNM'] = '포탈관리그룹';
        ePortalConfig.userInfo['_ep_AMG_ORNCD'] = '';
        ePortalConfig.userInfo['_ep_USR_NM'] = '포탈관리자';
        ePortalConfig.userInfo['_ep_STF_FLG_CDNM'] = '정상';
        ePortalConfig.userInfo['_ep_ORG_FLGCD'] = '';
        ePortalConfig.userInfo['_ep_BZ_ATRCD'] = '';
        ePortalConfig.userInfo['_ep_id'] = 'Administrator';
        ePortalConfig.userInfo['_ep_ORG_FLG_CDNM'] = '';
        ePortalConfig.userInfo['_ep_STF_FLGCD'] = '1';
        ePortalConfig.userInfo['_ep_CLPCD'] = '';
        ePortalConfig.userInfo['_ep_BDT_CDNM'] = '';
        ePortalConfig.userInfo['_ep_PTNCD'] = '';
        ePortalConfig.userInfo['_ep_ORG_SPCD'] = '';
        ePortalConfig.userInfo['_ep_USR_ID'] = 'Administrator';
        ePortalConfig.userInfo['_ep_ORNCD'] = 'admin';
        ePortalConfig.userInfo['_ep_DTY_CDNM'] = '';
        ePortalConfig.userInfo['_ep_ORG_TP_CDNM'] = '';
        ePortalConfig.userInfo['_ep_BZ_ATR_CDNM'] = '';
        ePortalConfig.userInfo['_ep_BDTCD'] = '';
        ePortalConfig.userInfo['_ep_EMPNO'] = 'Administrator';
        ePortalConfig.userInfo['_ep_EMP_PART'] = '';
        ePortalConfig.userInfo['_ep_ORG_TPCD'] = '';
        ePortalConfig.userInfo['_ep_CLP_CDNM'] = '';

        ePortalConfig.groupInfo = ['AUTHENTICATED_USERS', 'PORTAL_ADMINISTRATORS', 'PUBLIC', 'admin', 'default_page']
        ePortalConfig.userId = ePortalConfig.userInfo[("" || '_ep_USR_ID')];
        ePortalConfig.ornnm = ePortalConfig.userInfo[("" || '_ep_ORNNM')];
        ePortalConfig.userInfo.ornnm = ePortalConfig.userInfo[("" || '_ep_ORNNM')];
        ePortalConfig.userInfo.nm = ePortalConfig.userInfo[("" || '_ep_USR_NM')];
    </script>

    <link rel="stylesheet" href="/wsrv/app/css/plugin/jquery.toast.css">
    <link rel="stylesheet" href="/wsrv/app/css/jquery-ui.css">
    <link href="/wsrv/app/js/plugins/owl/assets/owl.carousel.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/wsrv/app/css/plugin/jstree/default/style.min.css" rel="stylesheet" type="text/css" />

    <link href="/wsrv/app/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="/styles/css/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/wsrv/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/toast/jquery.toast.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/owl/owl.carousel.min.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="/wsrv/app/js/iframeResizer.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/fuse/fuse.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/handlebars/handlebars-v4.7.6.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/pub.ep.js?version=30207.9915487681"></script>
    <script type="text/javascript" src="/wsrv/app/js/pub.ep.ui.js"></script>

    <script src="/wsrv/app/js/plugins/vue/vue.min.js"></script>
    <script src="/wsrv/app/js/plugins/vue/vue.portal.js?version=20201207" charset="utf-8"></script>

    <script type="text/javascript" src="/wsrv/app/js/pencake.js?version=51862.79271819944"></script>
    <script type="text/javascript" src="/wsrv/app/js/pencake.custom.js?version=33210.91559244459"></script>
</head>

<body data-ep-view-mode="default" class="subContents ga">
    <div class="contents-grid" id="mainWrapper">
        <!-- ============= ▼ LEFT CONTENTS START ▼ ============= -->
        <div class="col-xs-3">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="왼쪽">
                <!-- 내 프로필 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="my-profile" id="myProfileWrap">
                            <div class="my-profile-top"> 
                                <div class="img">
                                    <!-- 캐릭터 이미지 랜덤 노출 -->
                                    <img src="/wsrv/app/img/new/common/img_profile_lulu.png" alt="" />
                                    <img src="/wsrv/app/img/new/common/img_profile_lio.png" alt="" style="display: none;" />
                                    <img src="/wsrv/app/img/new/common/img_profile_bunny.png" alt="" style="display: none;" />
                                    <img src="/wsrv/app/img/new/common/img_profile_catch.png" alt="" style="display: none;" /> 
                                    <img src="/wsrv/app/img/new/common/img_profile_h.png" alt=""  style="display: none;" />
                                </div>
                                <div class="info">
                                    <h2 class="hello-txt">
                                        <span>안유진</span>님 <br/>
                                        안녕하세요.
                                    </h2>
                                    <p class="my-num">77001234</p>
                                </div>
                            </div>
                            <div class="my-profile-bottom">
                                <a href="javascript:;" class="btn dg-line" data-btn-size="l" @click="myInfoView">내 정보 조회</a>
                                <div class="btn-wrap">
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">현장 FAQ</a>
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">현장 Q&A</a>
                                    <a href="javascript:;" target="_blank" class="btn cg-fill" data-btn-size="l">화상회의</a>
                                    <a href="javascript:;" target="_blank" class="btn cg-fill" data-btn-size="l">원격지원</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 내 프로필 -->
                <!-- 즐겨찾기 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">즐겨찾기</h3>
                            <button type="button" class="setting-btn" title="즐겨찾기 관리"></button>
                        </div>
                        <ul id="favoriteList" class="favorite-area">
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="가입설계">가입설계</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="일반보험 계약조회">일반보험 계약조회</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="심사대상일괄조회">심사대상일괄조회</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="설계출재등록">설계출재등록</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="자동차사고처리(통합)">자동차사고처리(통합)</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="자동차보험 관심고객 정보조회 및 관리">자동차보험 관심고객 정보조회 및 관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="당좌수표책입력">당좌수표책입력</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="예금주관리">예금주관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li> 
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="사업비계정코드 관리">사업비계정코드 관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <!-- 즐겨찾기 없을 시 아래 li block -->
                            <li class="empty" style="display: none;">
                                <p class="mascot-empty pink">
                                    등록된 즐겨찾기가 없습니다. <br />
                                    <span class="setting"></span> 편집에서 추가하세요.
                                </p>
							</li>
                        </ul>
                    </div>
                </div>
                <!-- // 즐겨찾기 -->
                <!-- Quick Link -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">Quick Link</h3>
                        </div>
                        <div class="quick-link-list column">
                            <div class="btn-wrap">
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">흥국화재</a>
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">영업포탈</a>
                            </div>
                            <div class="btn-wrap">
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">MOTP 등록/해지</a>
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">태광신문고</a>
                            </div>
                            <div class="btn-wrap">
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">VOC</a>
                                <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">KMS</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // Quick Link -->
                <!-- 데스크 전화번호 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <ul class="call-list">
                            <li>
                                전산헬프데스크<a href="tel:031-786-8088">031-786-8088</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // 데스크 전화번호 -->
            </section>
        </div>
        <!-- ============= ▲ LEFT CONTENTS END ▲ ============= -->
        <!-- ============= ▼ CENTER CONTENTS START ▼ ============= -->
        <div class="col-xs-5">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="가운데">
                <!-- 배너 영역 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="28c9a2a2e1ae471db4ab58ea2a256997">
                    <div class="pencake-portlet-content">
                        <div class="my-owl">
                            <div class="owl-carousel owl-theme">
                                <!-- 텍스트 있는 버전 -->
                                <div class="item" style="background-color: #EFFFF8;">
                                    <a href="javascript:;">
                                        <img src="/wsrv/app/img/new/common/upride_banner_01.png" alt="" />
                                        <div class="txt-posi">
                                            <div class="txt-box">
                                                <h4 class="owl-tit">무배당 <span>흥Good</span> 행복한 파워종합보험(25.09)</h4>
                                                <p class="owl-info">100세까지 든든하게 지켜주는 종합보험</p>
                                                <span class="owl-desc">보험 하나로 최고 100까지 통합보장되는 상품으로 주요 질병의 진단비와 수술비, 입원비를 보장하는 상품입니다.</span>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <!-- 텍스트 없는 버전 (통 이미지) -->
                                <div class="item" style="background-color: #EFFFF8;">
                                    <a href="javascript:;">
                                        <img src="/wsrv/app/img/new/common/upride_banner_02.png" alt="" />
                                    </a>
                                </div>
                            </div>
                        </div>
                        <script>
                            $(function(){
                                $('.my-owl > .owl-carousel').owlCarousel({
                                    autoplay:false,       
                                    autoplayTimeout:5000, 
                                    autoplayHoverPause:true,
                                    loop:true,
                                    center:true,
                                    nav:true,
                                    dots:false,
                                    pagination: true,
                                    responsive:{
                                        0:{
                                            items:1
                                        }
                                    }
                                });
                            })
                        </script>
                    </div>
                </div>
                <!-- // 배너 영역 -->
                <!-- U-pride SOS 접수현황 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">U-Pride SOS 접수현황</h3>
                            <div class="up-sos-top">
                                <div class="label-box">
                                    <span class="label" data-label-size="m">답변대기</span>
                                    <p>42건</p>
                                </div>
                                <div class="label-box">
                                    <span class="label purple" data-label-size="m">답변완료</span>
                                    <p>1,648건</p>
                                </div>
                                <div class="btn-wrap">
                                    <button type="button" class="btn wg-line retry" title="새로고침" data-btn-size="s"></button>
                                    <button type="button" class="btn wg-line link" data-btn-size="s">
                                        <span>바로가기</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <ul class="sos-list">
                            <!--
                                Label status classes
                                ------------------------------------
                                기본(클래스 없음) : 답변대기
                                purple           : 답변완료
                                blue-line        : 사용문의
                                purple-line      : 업무지침
                                orange-line      : 결함
                                green-line       : 결함아님
                                gray-line        : 제안
                                ------------------------------------
                            -->
                            <li>
                                <a href="javascript:;">
                                    <div class="sos-item-label">
                                        <span class="label">답변대기</span>
                                        <span class="label blue-line">사용문의</span>
                                    </div>
                                    <div class="sos-item-title">
                                        <p>[포털/권한/메뉴]</p>
                                        <div class="list-link">
                                            <span>협력업체 → 조사진행현황조회 협력업체 → 조사진행현황조회</span>
                                        </div>
                                    </div>
                                    <div class="sos-item-info">
                                        <span>2025-11-26</span>
                                        <span>장원영</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="sos-item-label">
                                        <span class="label">답변대기</span>
                                        <span class="label orange-line">결함</span>
                                    </div>
                                    <div class="sos-item-title">
                                        <p>[장기손사]</p>
                                        <div class="list-link">
                                            <span>미결조회 → 손해사정 → 추산관리</span>
                                        </div>
                                    </div>
                                    <div class="sos-item-info">
                                        <span>2025-11-26</span>
                                        <span>장원영</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="sos-item-label">
                                        <span class="label purple">답변완료</span>
                                        <span class="label green-line">결함아님</span>
                                    </div>
                                    <div class="sos-item-title">
                                        <p>[이미지시스템]</p>
                                        <div class="list-link">
                                            <span>기반관리 → 이미지시스템</span>
                                        </div>
                                    </div>
                                    <div class="sos-item-info">
                                        <span>2025-11-26</span>
                                        <span>장원영</span>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:;">
                                    <div class="sos-item-label">
                                        <span class="label">답변대기</span>
                                        <span class="label blue-line">사용문의</span>
                                    </div>
                                    <div class="sos-item-title">
                                        <p>[포털/권한/메뉴]</p>
                                        <div class="list-link">
                                            <span>협력업체 → 조사진행현황조회</span>
                                        </div>
                                    </div>
                                    <div class="sos-item-info">
                                        <span>2025-11-26</span>
                                        <span>장원영</span>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // U-pride SOS 접수현황 -->
                <!-- 조사진행현황 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">
                                조사진행현황
                                <span>(최근 3개월)</span>
                            </h3>
                            <div class="btn-wrap" data-width="auto">
                                <button type="button" class="btn wg-line retry" title="새로고침" data-btn-size="s"></button>
                                <a href="javascript:;" class="btn wg-line link" data-btn-size="s">
                                    <span>바로가기</span>
                                </a>
                                <a href="javascript:;" class="btn cg-fill" data-btn-size="s">조사진행등록</a>
                            </div>
                        </div>
                        <div class="survey-state">
                            <div class="scroll-table">
                                <table class="common-table">
                                    <colgroup>
                                        <col style="width: 12%;">
                                        <col style="width: auto;">
                                        <col style="width: 8%;">
                                        <col style="width: 10%;">
                                        <col style="width: 15%;">
                                        <col style="width: 8%;">
                                        <col style="width: 15%;">
                                        <col style="width: 10%;">
                                    </colgroup>
                                    <thead>
                                        <tr>
                                            <th>진행단계</th>
                                            <th>청구번호</th>
                                            <th>피보험자</th>
                                            <th>담보</th>
                                            <th>담당파트</th>
                                            <th>담당자</th>
                                            <th>의뢰일자</th>
                                            <th>경과일</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>입력상태</td>
                                            <td><a href="javascript:;" class="txt-btn blue">20251126-99999</a></td>
                                            <td>김*원</td>
                                            <td>인담보</td>
                                            <td>부산손사</td>
                                            <td>장원영</td>
                                            <td>2025-11-26</td>
                                            <td>108</td>
                                        </tr>
                                        <tr>
                                            <td>입력상태</td>
                                            <td><a href="javascript:;" class="txt-btn blue">20251126-99999</a></td>
                                            <td>김*원</td>
                                            <td>인담보</td>
                                            <td>부산손사</td>
                                            <td>장원영</td>
                                            <td>2025-11-26</td>
                                            <td>108</td>
                                        </tr>
                                        <tr>
                                            <td>입력상태</td>
                                            <td><a href="javascript:;" class="txt-btn blue">20251126-99999</a></td>
                                            <td>김*원</td>
                                            <td>인담보</td>
                                            <td>부산손사</td>
                                            <td>장원영</td>
                                            <td>2025-11-26</td>
                                            <td>108</td>
                                        </tr>
                                        <tr>
                                            <td>입력상태</td>
                                            <td><a href="javascript:;" class="txt-btn blue">20251126-99999</a></td>
                                            <td>김*원</td>
                                            <td>인담보</td>
                                            <td>부산손사</td>
                                            <td>장원영</td>
                                            <td>2025-11-26</td>
                                            <td>108</td>
                                        </tr>
                                        <tr>
                                            <td>입력상태</td>
                                            <td><a href="javascript:;" class="txt-btn blue">20251126-99999</a></td>
                                            <td>김*원</td>
                                            <td>인담보</td>
                                            <td>부산손사</td>
                                            <td>장원영</td>
                                            <td>2025-11-26</td>
                                            <td>108</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <!-- 데이터 없을 시 thead만 보이는 상태로 아래 div block -->
                                <div class="empty" style="display: none;">
                                    <p class="mascot-empty blue">
                                        데이터가 없습니다.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 조사진행현황 -->
            </section>
        </div>
        <!-- ============= ▲ CENTER CONTENTS END ▲ ============= -->
        <!-- ============= ▼ RIGHT CONTENTS START ▼ ============= -->
        <div class="col-xs-3">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="오른쪽">
                <!-- 나의 일정 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div id="myCalendarWrap">
                            <div class="title-box">
                                <h3 class="portlet_title">나의 일정</h3>
                                <button type="button" class="btn wg-line list" data-btn-size="xs" @click="calendarToggleMode" :class="{ 'list-type': calendarMode === 'list' }">
                                    <span>{{ calendarMode === 'calendar' ? '리스트' : '캘린더' }}</span>
                                </button>
                            </div>
                            <div id="pencake_0bef7fc53bc9412387893bf00e2e7fdbcontainer" class="my-calendar-box" :class="{ 'list-type': calendarMode === 'list' }">
                                <div id="pencake_0bef7fc53bc9412387893bf00e2e7fdbcalendar"></div>
                                <div class="schedule-box" v-if="calendarMode === 'calendar'">
                                    <div class="today-flex">
                                        <h4>{{selectDate}}</h4>
                                        <div class="btn-wrap">
                                            <button v-if="!PENCAKE_OBJ.isUndefined(selectDiaryInfo.ID)" type="button" class="btn wg-line delete" @click="deleteContent()" title="삭제"></button>
                                            <button type="button" class="btn wg-line save" @click="saveContent()" title="저장"></button>
                                        </div>
                                    </div>
                                    <textarea placeholder="일정을 등록하세요." class="common-textarea" id="pencake_0bef7fc53bc9412387893bf00e2e7fdbcontent" v-model="calendarContent" rows="3"></textarea>
                                </div>
                                <div class="my-calendar-list" v-else>
                                    <ul>
                                        <li class="latest">
                                            <div class="top-flex">
                                                <strong>2024-03-26</strong>
                                                <div class="btn-wrap">
                                                    <button type="button" class="btn wg-line close" title="삭제" aria-label="삭제"></button>
                                                    <button type="button" class="btn wg-line save" title="저장" aria-label="저장"></button>
                                                </div>
                                            </div>
                                            <textarea class="common-textarea" rows="3" placeholder="일정을 등록하세요">보험가입 고객 미팅&#10;14:00 ~ 16:00&#10;스타벅스 광장마켓점</textarea>
                                        </li>
                                        <li>
                                            <div class="top-flex">
                                                <strong>2024-03-27</strong>
                                                <div class="btn-wrap">
                                                    <button type="button" class="btn wg-line close" title="삭제" aria-label="삭제"></button>
                                                    <button type="button" class="btn wg-line save" title="저장" aria-label="저장"></button>
                                                </div>
                                            </div>
                                            <textarea class="common-textarea" rows="3" placeholder="일정을 등록하세요">주간회의&#10;10:00 ~ 12:00&#10;7층 몰디브 회의실&#10;오늘은 중요한 미팅이 있습니다</textarea>
                                        </li>
                                        <li>
                                            <div class="top-flex">
                                                <strong>2024-03-27</strong>
                                                <div class="btn-wrap">
                                                    <button type="button" class="btn wg-line close" title="삭제" aria-label="삭제"></button>
                                                    <button type="button" class="btn wg-line save" title="저장" aria-label="저장"></button>
                                                </div>
                                            </div>
                                            <textarea class="common-textarea" rows="3" placeholder="일정을 등록하세요">주간회의&#10;10:00 ~ 12:00&#10;7층 몰디브 회의실&#10;오늘은 중요한 미팅이 있습니다</textarea>
                                        </li>
                                        <li>
                                            <div class="top-flex">
                                                <strong>2024-03-27</strong>
                                                <div class="btn-wrap">
                                                    <button type="button" class="btn wg-line close" title="삭제" aria-label="삭제"></button>
                                                    <button type="button" class="btn wg-line save" title="저장" aria-label="저장"></button>
                                                </div>
                                            </div>
                                            <textarea class="common-textarea" rows="3" placeholder="일정을 등록하세요">주간회의&#10;10:00 ~ 12:00&#10;7층 몰디브 회의실&#10;오늘은 중요한 미팅이 있습니다</textarea>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 나의 일정 -->
                <!-- 나의 메모 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="bd00d3794df04f3dbd5a14c4c7152791">
                    <div class="pencake-portlet-content">
                        <div id="pencake_bd00d3794df04f3dbd5a14c4c7152791container">
                            <div class="title-box">
                                <h3 class="portlet_title">메모</h3>
                                <div class="btn-wrap" data-width="auto">
                                    <button type="button" class="btn wg-line plus" title="신규 입력"></button>
                                    <button type="button" class="btn wg-line save" @click="fieldClear()" title="저장"></button>
                                </div>
                            </div>
                            <div class="my-memo-box">
                                <div class="memo_box-textarea">
                                    <textarea class="common-textarea" placeholder="메모를 작성하세요." id="" v-model="currentInfo.memoContent" rows="5" @blur="saveContent()"></textarea>
                                </div>
                            </div>
                            <ul class="memo-paging">
                                <li v-for="(item, index) in memoList" :class="currentInfo.ID ==item.ID?'active':''">
                                    <a href="javascript:;" @click="viewMemo(item);">{{item.title}}</a>
                                    <button class="btn close" @click="deleteContent(item)"></button>
                                </li>
                            </ul>
                        </div>
                        <script>
                            $portalApp.vueServiceBean({
                                el: '#pencake_bd00d3794df04f3dbd5a14c4c7152791container',
                                data: {
                                    items: []
                                    , pageInfo: { startRow: 0, endRow: 10, totalCount: 0 }
                                    , startIdx: 0
                                    , endIdx: 0
                                    , currentInfo: {}
                                    , allMemoInfo: {}
                                    , memoList: []
                                    , pageNo: 1
                                    , countPerPage: 100
                                },
                                methods: {
                                    init: function () {
                                        this.getData('init');

                                        this.currentInfo = this.getDefaultMemoItem();
                                    }
                                    , getDefaultMemoItem: function () {
                                        return { memoContent: '', id: '' };
                                    }
                                    , fieldClear: function () {
                                        this.currentInfo = this.getDefaultMemoItem();
                                    }
                                    // 내용 삭제
                                    , deleteContent: function (item) {
                                        var _this = this;

                                        var deleteItem;
                                        if (PENCAKE_OBJ.isUndefined(item)) {
                                            deleteItem = this.currentInfo;
                                        } else {
                                            deleteItem = item;
                                        }

                                        if (!confirm('삭제 하시겠습니까?')) return;

                                        _this.$ajax({
                                            url: PENCAKE_OBJ.getUrl('/portlet/memo/delete')
                                            , data: {
                                                id: deleteItem.ID
                                            }
                                            , loadSelector: '#pencake_bd00d3794df04f3dbd5a14c4c7152791container'
                                            , success: function (resData) {
                                                if (resData.status != 200) {
                                                    alert(resData.message);
                                                    return;
                                                }
                                                _this.getData('init');
                                            }
                                        });
                                    }
                                    , updateActiveMemo: function () {
                                        var _this = this;

                                        _this.$ajax({
                                            url: PENCAKE_OBJ.getUrl('/portlet/memo/changeActive')
                                            , data: {
                                                id: this.currentInfo.ID
                                            }
                                            , success: function (resData) {
                                                if (resData.status != 200) {
                                                    alert(resData.message);
                                                    return;
                                                }
                                            }
                                        });
                                    }
                                    // 내용 저장
                                    , saveContent: function () {
                                        var _this = this;

                                        if (PENCAKE_OBJ.isBlank(this.currentInfo.memoContent) || this.currentInfo.memoContent == this.currentInfo.CONTENTS) {
                                            return;
                                        }

                                        _this.$ajax({
                                            url: PENCAKE_OBJ.getUrl('/portlet/memo/save')
                                            , data: {
                                                id: this.currentInfo.ID
                                                , contents: this.currentInfo.memoContent
                                            }
                                            , loadSelector: '#pencake_bd00d3794df04f3dbd5a14c4c7152791container'
                                            , success: function (resData) {
                                                if (resData.status != 200) {
                                                    alert(resData.message);
                                                    return;
                                                }
                                                _this.getData(PENCAKE_OBJ.isBlank(_this.currentInfo.ID) ? 'init' : '');
                                            }
                                        });
                                    }
                                    // 일정 목록
                                    , getData: function (mode) {
                                        var _this = this;

                                        var param = {
                                            pageNo: this.pageNo
                                            , countPerPage: 10
                                            , searchValue: ''
                                        }

                                        _this.$ajax({
                                            url: PENCAKE_OBJ.getUrl('/portlet/memo/list')
                                            , method: 'get'
                                            , data: param
                                            , loadSelector: '#pencake_bd00d3794df04f3dbd5a14c4c7152791container'
                                            , success: function (resData) {
                                                if (resData.status != 200) {
                                                    alert(resData.message);
                                                    return;
                                                }
                                                var viewContent = _this.getDefaultMemoItem();

                                                var memoList = resData.list;
                                                if (memoList.length < 1) {
                                                    _this.currentInfo = viewContent;
                                                    return;
                                                }

                                                var allMemoInfo = {};

                                                memoList.forEach(function (item) {
                                                    item.memoContent = item.CONTENTS;
                                                    if (item.ACTIVE_YN == 'Y') {
                                                        viewContent = item;
                                                    }

                                                    item.title = (item.memoContent.trim() || '').split('\n')[0].substring(0, 10);

                                                    allMemoInfo[item.RNUM] = item;
                                                })
                                                _this.allMemoInfo = allMemoInfo;
                                                _this.pageInfo = resData.page;
                                                _this.memoList = memoList;

                                                if (mode == 'init') {
                                                    if (PENCAKE_OBJ.isBlank(viewContent.ID)) {
                                                        _this.viewMemo(1);
                                                    } else {
                                                        _this.currentInfo = viewContent;
                                                    }
                                                }
                                            }
                                        });
                                    }
                                    //메모 보기
                                    , viewMemo: function (item) {
                                        if ($.isNumeric(item)) {
                                            this.currentInfo = this.allMemoInfo[item] || {};
                                        } else {
                                            this.currentInfo = item;
                                        }
                                        this.updateActiveMemo();
                                    }
                                }
                            });
                        </script>
                    </div>
                </div>
                <!-- // 나의 메모 -->
                <!-- 공지사항 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <!-- 260109 수정사항 : 공지 팝업 버튼 추가 -->
                        <div class="title-box" id="notiTitleWrap">
                            <h3 class="portlet_title">공지사항</h3>
                            <a href="javascript:;" class="txt-btn plus" @click="notiView">전체보기</a>
                        </div>
                        <!-- // 260109 수정사항 : 공지 팝업 버튼 추가 -->
                        <ul class="noti-list">
                            <li> 
                                <a href="javascript:;" target="_blank" title="U-Pride가 새롭게 오픈합니다.">
                                    <p class="title">U-Pride가 새롭게 오픈합니다.</p>
                                    <span class="date">25-11-07</span>
                                </a>
                            </li>
                            <li> 
                                <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                    <p class="title">유프라이드 접속방법 변경 안내</p>
                                    <span class="date">25-11-07</span>
                                </a>
                            </li>
                            <li> 
                                <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                    <p class="title">유프라이드 접속방법 변경 안내</p>
                                    <span class="date">25-11-07</span>
                                </a>
                            </li>
                            <li> 
                                <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                    <p class="title">유프라이드 접속방법 변경 안내</p>
                                    <span class="date">25-11-07</span>
                                </a>
                            </li>
                            <li> 
                                <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                    <p class="title">유프라이드 접속방법 변경 안내</p>
                                    <span class="date">25-11-07</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // 공지사항 -->
            </section>
        </div>
        <!-- ============= ▲ RIGHT CONTENTS END ▲ ============= -->
    </div>
</body>
</html>

<script type="text/javascript" src="/js/home.js"></script> 