<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9">
    <meta charset="UTF-8">
    <meta env="SOP-YTKIM">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <script>
        var global_page_context_path = "";
        var ePortalConfig = {
            "runtime": "local"
            , "license": false
            , "websocket": ""
            , "mainPageId": ""
            , "page_id": '7bd27055ad014707ba23bdcba63b01b5'
            , "userInfo": {}
            , "link": {
                "portalMain": ""
            }
            , "domain": {
                "webmail": ""
                , "nas": ""
                , "hompage": ""
            }
            , "context": {
                "epplt": ("" || global_page_context_path)
                , "noti": ("" || '/alarm')
                , "board": ("" || '')
            }
            , "fileupload": {
                "useFileExt": 'gif|png|jpg|jpeg|ppt|pptx|xls|xlsx|doc|docx|zip|hwp|pdf'
                , "useMigFileExt": 'xls|xlsx'
                , "pencakeAttach": '/staticimg'
            }
        };
        ePortalConfig.userInfo['_ep_USR_PWD'] = '$2a$10$PnV738Vcdc5X9zBzbViWbOprzvNetMcbP4IuIth/0HKAviqtOAWPu';
        ePortalConfig.userInfo['_ep_ORG_SP_CDNM'] = '';
        ePortalConfig.userInfo['_ep_PTN_CDNM'] = '';
        ePortalConfig.userInfo['_ep_DTYCD'] = '';
        ePortalConfig.userInfo['_ep_ORNNM'] = '포탈관리그룹';
        ePortalConfig.userInfo['_ep_AMG_ORNCD'] = '';
        ePortalConfig.userInfo['_ep_USR_NM'] = '포탈관리자';
        ePortalConfig.userInfo['_ep_STF_FLG_CDNM'] = '정상';
        ePortalConfig.userInfo['_ep_ORG_FLGCD'] = '';
        ePortalConfig.userInfo['_ep_BZ_ATRCD'] = '';
        ePortalConfig.userInfo['_ep_id'] = 'Administrator';
        ePortalConfig.userInfo['_ep_ORG_FLG_CDNM'] = '';
        ePortalConfig.userInfo['_ep_STF_FLGCD'] = '1';
        ePortalConfig.userInfo['_ep_CLPCD'] = '';
        ePortalConfig.userInfo['_ep_BDT_CDNM'] = '';
        ePortalConfig.userInfo['_ep_PTNCD'] = '';
        ePortalConfig.userInfo['_ep_ORG_SPCD'] = '';
        ePortalConfig.userInfo['_ep_USR_ID'] = 'Administrator';
        ePortalConfig.userInfo['_ep_ORNCD'] = 'admin';
        ePortalConfig.userInfo['_ep_DTY_CDNM'] = '';
        ePortalConfig.userInfo['_ep_ORG_TP_CDNM'] = '';
        ePortalConfig.userInfo['_ep_BZ_ATR_CDNM'] = '';
        ePortalConfig.userInfo['_ep_BDTCD'] = '';
        ePortalConfig.userInfo['_ep_EMPNO'] = 'Administrator';
        ePortalConfig.userInfo['_ep_EMP_PART'] = '';
        ePortalConfig.userInfo['_ep_ORG_TPCD'] = '';
        ePortalConfig.userInfo['_ep_CLP_CDNM'] = '';

        ePortalConfig.groupInfo = ['AUTHENTICATED_USERS', 'PORTAL_ADMINISTRATORS', 'PUBLIC', 'admin', 'default_page']
        ePortalConfig.userId = ePortalConfig.userInfo[("" || '_ep_USR_ID')];
        ePortalConfig.ornnm = ePortalConfig.userInfo[("" || '_ep_ORNNM')];
        ePortalConfig.userInfo.ornnm = ePortalConfig.userInfo[("" || '_ep_ORNNM')];
        ePortalConfig.userInfo.nm = ePortalConfig.userInfo[("" || '_ep_USR_NM')];
    </script>

    <link rel="stylesheet" href="/wsrv/app/css/plugin/jquery.toast.css">
    <link rel="stylesheet" href="/wsrv/app/css/jquery-ui.css">
    <link href="/wsrv/app/js/plugins/owl/assets/owl.carousel.min.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/wsrv/app/css/plugin/jstree/default/style.min.css" rel="stylesheet" type="text/css" />

    <link href="/wsrv/app/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="/styles/css/style.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="/wsrv/app/js/jquery.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/moment/moment.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/toast/jquery.toast.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/mCustomScrollbar/jquery.mCustomScrollbar.concat.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/owl/owl.carousel.min.js" charset="utf-8"></script>
    
    <script type="text/javascript" src="/wsrv/app/js/iframeResizer.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/jstree/jstree.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/fuse/fuse.min.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/plugins/handlebars/handlebars-v4.7.6.js"></script>
    <script type="text/javascript" src="/wsrv/app/js/pub.ep.js?version=30207.9915487681"></script>
    <script type="text/javascript" src="/wsrv/app/js/pub.ep.ui.js"></script>

    <script src="/wsrv/app/js/plugins/vue/vue.min.js"></script>
    <script src="/wsrv/app/js/plugins/vue/vue.portal.js?version=20201207" charset="utf-8"></script>

    <script type="text/javascript" src="/wsrv/app/js/pencake.js?version=51862.79271819944"></script>
    <script type="text/javascript" src="/wsrv/app/js/pencake.custom.js?version=33210.91559244459"></script>
</head>

<body data-ep-view-mode="default" class="subContents ga">
    <div class="contents-grid" id="mainWrapper">
        <!-- ============= ▼ LEFT CONTENTS START ▼ ============= -->
        <div class="col-xs-3">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="왼쪽">
                <!-- 내 프로필 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="my-profile" id="myProfileWrap">
                            <div class="my-profile-top"> 
                                <div class="img">
                                    <!-- 캐릭터 이미지 랜덤 노출 -->
                                    <img src="/wsrv/app/img/new/common/img_profile_lulu.png" alt="" />
                                    <img src="/wsrv/app/img/new/common/img_profile_lio.png" alt="" style="display: none;" />
                                    <img src="/wsrv/app/img/new/common/img_profile_bunny.png" alt="" style="display: none;" />
                                    <img src="/wsrv/app/img/new/common/img_profile_catch.png" alt="" style="display: none;" /> 
                                    <img src="/wsrv/app/img/new/common/img_profile_h.png" alt=""  style="display: none;" />
                                </div>
                                <div class="info">
                                    <h2 class="hello-txt">
                                        <span>안유진</span>님 <br/>
                                        안녕하세요.
                                    </h2>
                                </div>
                            </div>
                            <div class="my-profile-bottom">
                                <a href="javascript:;" class="btn dg-line" data-btn-size="l" @click="myInfoView">내 정보 조회</a>
                                <div class="btn-wrap">
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">VOC</a>
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">그룹웨어</a>
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">인사정보시스템</a>
                                    <a href="javascript:;" target="_blank" class="btn purple" data-btn-size="l">흥미뷰</a>
                                    <a href="javascript:;" target="_blank" class="btn purple-line" data-btn-size="l">가상 PC</a>
                                    <a href="javascript:;" target="_blank" class="btn purple-line" data-btn-size="l">ITSM</a>
                                    <a href="javascript:;" target="_blank" class="btn purple-line" data-btn-size="l">메일</a>
                                    <a href="javascript:;" target="_blank" class="btn purple-line" data-btn-size="l">결재</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 내 프로필 -->
                <!-- 설계동의/연령계산기/직업조회 탭 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div data-event="tab" data-tab-name="assistTab">
                            <div class="title-box">
                                <div class="common-tab">
                                    <ul>
                                        <li class="active">
                                            <button type="button">설계동의</button>
                                        </li>
                                        <li>
                                            <button type="button">연령계산기</button>
                                        </li>
                                        <li>
                                            <button type="button">직업조회</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="cnt-item">
                                    <div class="input-col-box">
                                        <label class="input-label required" for="customerName">고객명</label>
                                        <div class="inner">
                                            <div class="input-type-txt">
                                                <input type="text" class="common-input" id="customerName" placeholder="고객명 입력" required />
                                                <button type="button" class="delete-btn" title="내용 지우기" aria-label="내용 지우기"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-col-box">
                                        <label class="input-label required" for="residentNum_1">주민등록번호</label>
                                        <div class="inner">
                                            <div class="input-type-txt">
                                                <input type="number" class="common-input" id="residentNum_1" placeholder="6자리" required />
                                                <button type="button" class="delete-btn" title="내용 지우기" aria-label="내용 지우기"></button>
                                            </div>
                                            <span class="dash">-</span>
                                            <div class="input-type-txt">
                                                <input type="number" class="common-input" id="residentNum_2" placeholder="7자리" required />
                                                <button type="button" class="delete-btn" title="내용 지우기" aria-label="내용 지우기"></button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="btn-wrap mt-12">
                                        <a href="javascript:;" class="btn mg-line" data-btn-size="l">LMS</a>
                                        <a href="javascript:;" class="btn mg-line" data-btn-size="l">동의서출력</a>
                                    </div>
                                </div>
                                <div class="cnt-item">
                                    <div class="input-col-box">
                                        <label class="input-label required" for="birthdayInput">생년월일</label>
                                        <div class="inner">
                                            <div class="input-type-txt">
                                                <input type="number" class="common-input" id="birthdayInput" placeholder="8자리 입력" required />
                                                <button type="button" class="delete-btn" title="내용 지우기" aria-label="내용 지우기"></button>
                                            </div>
                                            <button type="button" class="btn cg-fill" data-btn-size="m">계산</button>
                                        </div>
                                    </div>
                                    <div class="blue-bg-box mt-12">
                                        <ul class="info-flex">
                                            <li>
                                                <span class="tit">보험연령</span>
                                                <p class="info">43세</p>
                                            </li>
                                            <li>
                                                <span class="tit">만연령</span>
                                                <p class="info">42세</p>
                                            </li>
                                            <li class="full">
                                                <span class="tit">상령일</span>
                                                <p class="info">2025-12-31</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="cnt-item">
                                    <div class="input-col-box">
                                        <label class="input-label" for="jobInput">직업명</label>
                                        <div class="inner">
                                            <div class="input-type-txt">
                                                <input type="text" class="common-input" id="jobInput" placeholder="직업명 입력" />
                                                <button type="button" class="delete-btn" title="내용 지우기" aria-label="내용 지우기"></button>
                                            </div>                                            
                                            <button type="button" class="btn cg-fill" data-btn-size="m">조회</button>
                                        </div>
                                    </div>
                                    <div class="blue-bg-box mt-12">
                                        <ul class="info-flex">
                                            <li class="full">
                                                <span class="tit">직업명</span>
                                                <p class="info">식품관련업체 사무직 경리</p>
                                            </li>
                                            <li>
                                                <span class="tit">코드</span>
                                                <p class="info">15220A</p>
                                            </li>
                                            <li>
                                                <span class="tit">급수</span>
                                                <p class="info">1급/3군</p>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 설계동의/연령계산기/직업조회 탭 -->
                <!-- 즐겨찾기 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">즐겨찾기</h3>
                            <button type="button" class="setting-btn" title="즐겨찾기 관리"></button>
                        </div>
                        <ul id="favoriteList" class="favorite-area">
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="가입설계">가입설계</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="일반보험 계약조회">일반보험 계약조회</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="심사대상일괄조회">심사대상일괄조회</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="설계출재등록">설계출재등록</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="자동차사고처리(통합)">자동차사고처리(통합)</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="자동차보험 관심고객 정보조회 및 관리">자동차보험 관심고객 정보조회 및 관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="당좌수표책입력">당좌수표책입력</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="예금주관리">예금주관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li> 
                            <li data-key="MD102001" class="favorite-item">
                                <a href="javascript:;" title="사업비계정코드 관리">사업비계정코드 관리</a>
                                <button type="button" class="remove-btn">삭제</button>
                            </li>
                            <!-- 즐겨찾기 없을 시 아래 li block -->
                            <li class="empty" style="display: none;">
                                <p class="mascot-empty pink">
                                    등록된 즐겨찾기가 없습니다. <br />
                                    <span class="setting"></span> 편집에서 추가하세요.
                                </p>
							</li>
                        </ul>
                    </div>
                </div>
                <!-- // 즐겨찾기 -->
            </section>
        </div>
        <!-- ============= ▲ LEFT CONTENTS END ▲ ============= -->
        <!-- ============= ▼ CENTER CONTENTS START ▼ ============= -->
        <div class="col-xs-5">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="가운데">
                <!-- 이 달의 실적 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div id="monthRecordWrap">
                            <div class="title-box">
                                <div class="month-record-top">
                                    <h3 class="portlet_title">이 달의 실적</h3>
                                    <div class="radio-flex">
                                        <label class="input-box">
                                            <input type="radio" class="common-radio" name="recordRadio" id="record_now" value="record_now" checked />
                                            <span class="txt">당월</span>
                                        </label>
                                        <label class="input-box">
                                            <input type="radio" class="common-radio" name="recordRadio" id="record_before" value="record_before" />
                                            <span class="txt">전일</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="common-switch">
                                    <input type="checkbox" class="hidden" id="recordDataHide" v-model="isRecordHidden" />
                                    <label for="recordDataHide">
                                        <span class="txt">숨김</span>
                                    </label>
                                </div>
                            </div>
                            <div class="month-record-wrap">
                                <div class="record-box">
                                    <div class="box-tit">
                                        <h4>전체 실적조회</h4>
                                        <a href="javascript:;" class="txt-btn link">바로가기</a>
                                    </div>
                                    <div class="box-cnt">
                                        <div data-event="view-tab" data-tab-name="recordAllTab">
                                            <div class="common-tab">
                                                <ul>
                                                    <li class="active">
                                                        <button type="button">신계약</button>
                                                    </li>
                                                    <li>
                                                        <button type="button">장기(人)</button>
                                                    </li>
                                                    <li>
                                                        <button type="button">자동차</button>
                                                    </li>
                                                    <li>
                                                        <button type="button">일반</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div class="cnt-item">
                                                    <div class="total-box goal">
                                                        <p>목표</p>
                                                        <strong>
                                                            <span>{{ isRecordHidden ? '-' : Number(currentRecord.goal).toLocaleString() }}</span>원
                                                        </strong>
                                                    </div>
                                                    <div class="total-box record">
                                                        <p>실적</p>
                                                        <strong>
                                                            <span>{{ isRecordHidden ? '-' : Number(currentRecord.result).toLocaleString() }}</span>원
                                                        </strong>
                                                    </div>
                                                    <div class="total-box chart">
                                                        <p>달성율</p>
                                                        <div class="chart-wrap">
                                                            <div class="donut-chart">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="146" height="146" viewBox="0 0 146 146" fill="none">
                                                                    <circle cx="73" cy="73" r="63" stroke="#D0D7E1" stroke-width="20" fill="none"/>
                                                                    <circle class="progressCircle" cx="73" cy="73" r="63" stroke="#0E9C0E" stroke-width="20" fill="none" stroke-linecap="round" />
                                                                </svg>
                                                            </div>
                                                            <strong class="percent">
                                                                <span>{{ isRecordHidden ? '-' : currentRecord.rate }}</span>%
                                                            </strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="record-box">
                                    <div class="box-tit">
                                        <h4>조직별 실적조회</h4>
                                        <a href="javascript:;" class="txt-btn link">바로가기</a>
                                    </div> 
                                    <div class="box-cnt">
                                        <div data-event="view-tab" data-tab-name="recordGroupTab">
                                            <div class="common-tab">
                                                <ul>
                                                    <li class="active">
                                                        <button type="button">장기(人)</button>
                                                    </li>
                                                    <li>
                                                        <button type="button">자동차</button>
                                                    </li>
                                                    <li>
                                                        <button type="button">일반</button>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="tab-content">
                                                <div class="cnt-item">
                                                    <div class="record-group-type">
                                                        <div class="group-item" v-for="group in currentGroupRecords" :key="group.name">
                                                            <strong>{{ group.name }}</strong>
                                                            <ul>
                                                                <li>
                                                                    <span class="tit">목표</span>
                                                                    <span class="info">{{ isRecordHidden ? '-' : Number(group.goal).toLocaleString() }}원</span>
                                                                </li>
                                                                <li>
                                                                    <span class="tit">실적</span>
                                                                    <span class="info">{{ isRecordHidden ? '-' : Number(group.result).toLocaleString() }}원</span>
                                                                </li>
                                                                <li>
                                                                    <span class="tit">달성율</span>
                                                                    <span class="info">{{ isRecordHidden ? '-' : group.rate }}%</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 이 달의 실적 -->
                <!-- 추천상품 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div id="recommendGoods">
                            <div class="title-box">
                                <h3 class="portlet_title">추천상품</h3>
                                <div class="btn-wrap" data-width="auto">
                                    <a href="javascript:;" class="txt-btn plus" @click="myPlanView">지점/MY플랜</a>
                                    <a href="javascript:;" class="txt-btn plus">전체상품보기</a>
                                </div>
                            </div>
                            <!-- 추천상품 갯수별 클래스
                                1개 : item-1
                                2개 : item-2
                                3개 : item-3
                            -->
                            <div class="recommand-goods type-2">
                                <div class="goods-box">
                                    <div class="item-info" style="background-image: url('/wsrv/app/img/new/common/gredient_bg_1.jpg');">
                                        <span class="desc">유병자・고령자 간편가입</span>
                                        <strong class="name">흥Good 든든 3N5 간편종합보험</strong>
                                        <div style="background-image: url('/wsrv/app/img/new/common/goods_mascot_1.png');" class="sub-img"></div>
                                    </div>
                                    <div class="item-btn">
                                        <a href="javascript:;" class="btn dg-fill">특화플랜II</a>
                                        <a href="javascript:;" class="btn cg-line">바로보장 <br />플랜III</a>
                                    </div>
                                </div>
                                <div class="goods-box">
                                    <div class="item-info" style="background-image: url('/wsrv/app/img/new/common/gredient_bg_2.jpg');">
                                        <span class="desc">오! 건강 어른이 할인형 보험</span>
                                        <strong class="name">흥Good The 건강한 0550 종합보험</strong>
                                        <div style="background-image: url('/wsrv/app/img/new/common/goods_mascot_2.png');" class="sub-img"></div>
                                    </div>
                                    <div class="item-btn">
                                        <a href="javascript:;" class="btn dg-fill">특화플랜II</a>
                                        <a href="javascript:;" class="btn cg-line">MZ건강 <br />고지형플랜</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 추천상품 -->
            </section>
        </div>
        <!-- ============= ▲ CENTER CONTENTS END ▲ ============= -->
        <!-- ============= ▼ RIGHT CONTENTS START ▼ ============= -->
        <div class="col-xs-3">
            <section class="pencake-page-container" data-pencake-container-id="" data-pencake-container-viewname="오른쪽">
                <!-- Quick Link -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div class="title-box">
                            <h3 class="portlet_title">Quick Link</h3>
                        </div>
                        <div class="quick-link-list column">
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">영업전용 모바일 접수 안내 문자 받기</a>
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">소비자보호</a>
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">현장제안</a>
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">보험사기제보</a>
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">HBS 교육방송</a>
                            <a href="javascript:;" target="_blank" class="btn wg-line" data-btn-size="m">4세대 실손전환조회</a>
                        </div>
                    </div>
                </div>
                <!-- // Quick Link -->
                <!-- 공지사항 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <div data-event="tab" data-tab-name="notiTab">
                            <!-- 260109 수정사항 : 공지 팝업 버튼 추가 -->
                            <div class="title-box flex-start" id="notiTitleWrap">
                                <div class="common-tab">
                                    <ul>
                                        <li class="active">
                                            <button type="button">HBS 교육방송</button>
                                        </li>
                                        <li>
                                            <button type="button">공지사항</button>
                                        </li>
                                    </ul>
                                </div>
                                <a href="javascript:;" class="txt-btn plus" @click="notiView">전체보기</a>
                            </div>
                            <!-- // 260109 수정사항 : 공지 팝업 버튼 추가 -->
                            <div class="tab-content">
                                <div class="cnt-item">
                                    <ul class="noti-list">
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="[HBS] 보상을 알려드림 [기타심장부정맥 편을 알려드립니다.]">
                                                <p class="title">[HBS] 보상을 알려드림 [기타심장부정맥 편을 알려드립니다.]</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="[HBS] 메디컬컨설팅">
                                                <p class="title">[HBS] 메디컬컨설팅</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="[HBS] 메디컬컨설팅">
                                                <p class="title">[HBS] 메디컬컨설팅</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="[HBS] 메디컬컨설팅">
                                                <p class="title">[HBS] 메디컬컨설팅</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="[HBS] 메디컬컨설팅">
                                                <p class="title">[HBS] 메디컬컨설팅</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cnt-item">
                                    <ul class="noti-list">
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="U-Pride가 새롭게 오픈합니다.">
                                                <p class="title">U-Pride가 새롭게 오픈합니다.</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                                <p class="title">유프라이드 접속방법 변경 안내</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                                <p class="title">유프라이드 접속방법 변경 안내</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                                <p class="title">유프라이드 접속방법 변경 안내</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:;" target="_blank" title="유프라이드 접속방법 변경 안내">
                                                <p class="title">유프라이드 접속방법 변경 안내</p>
                                                <span class="date">25-11-07</span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // 공지사항 -->
                <!-- 데스크 전화번호 -->
                <div class="pencake-portlet-box" data-pencake-portlet-id="">
                    <div class="pencake-portlet-content">
                        <ul class="call-list">
                            <li>
                                흥국화재 콜센터<a href="tel:031-786-8088">1688-1688</a>
                            </li>
                            <li>
                                모니터링 콜센터<a href="tel:031-786-8088">1688-6997</a>
                            </li>
                            <li>
                                전산헬프데스크<a href="tel:031-786-8088">031-786-8088</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- // 데스크 전화번호 -->
            </section>
        </div>
        <!-- ============= ▲ RIGHT CONTENTS END ▲ ============= -->
    </div>
</body>
</html>

<script type="text/javascript" src="/js/home.js"></script> 