textarea{
    width: 100%;
    border: 0 none;
    border-radius: $basicBorder;
    padding: .625rem;
    font-size: $fs-s;
    font-family: inherit;
    color: $grayscale60;
    background-color: $bgColor;
    resize: none;
    &:hover,
    &:focus {
        border-color: $gnbColor;
    }
    &:focus{
        outline: none;
    }
}

// =============================================================================
// input box 설정
// =============================================================================
input[type="text"],
input[type="number"],
input[type="date"]{
    border-radius: 3px;
    border: 1px solid #dfdaeb;
    height: 28px;
    width: 100%;
    padding: .3125rem .625rem;
    &:hover,
    &:focus {
        border-color: $tabColor;
    }
    &:focus{
        outline: none;
    }
    &.transparent{
        height: 34px!important;
        outline: none;
        border: 0;
    }
    &:disabled {
        background-color: #f0f0f0;
        border: 1px solid #dfdaeb;
        color: #bebebe;
        cursor: not-allowed;
    }
}
input[type="checkbox"]{
    display: inline-block;
    width: 18px;
    height: 18px;
    appearance: none;
    outline: none;
    border: 1px solid $boxLineColor;
    border-radius: 3px;
    transform: translateY(-0.075em);
    vertical-align: middle;
    cursor: pointer;   
    &::before{
        content: '';
        display: block;
        position: absolute;
        width: 7px;
        height: 12px;
        left: 5px;
        top: 0px;
        border: solid 1px transparent;
        border-width: 0 2px 2px 0;
        transition: all 0.2s ease-in-out;
        transform: rotate(45deg);
        box-sizing: border-box;
    }
    &:checked{
        background: $tabColor;
        border-color: $tabColor;
    }
    &:checked::before {
        opacity: 1;
        content: '';
        display: block;
        position: absolute;
        width: 7px;
        height: 12px;
        left: 5px;
        top: 0px;
        border: solid 1px white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
    }
    &:disabled {
        background-color: #f0f0f0;
        border: 1px solid #dfdaeb;
        color: #bebebe;
        cursor: not-allowed;
    }
    & + label{
        margin-right: 18px;
    }
}

//Custom Radio
.radio-group label {
    display: inline-block;
    position: relative;
    padding-left: 22px;
    cursor: pointer;
    user-select: none;
    margin-right: 12px;
}
.radio-group input[type="radio"] {
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
}
.radio-group .custom-radio {
    position: absolute;
    top: 1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: white;
    border-radius: 50%;
    border: 1px solid #ccc;
}
.radio-group input[type="radio"]:checked ~ .custom-radio {
    background-color: $tabColor;
    border-color: $inquiryBtn_hover;
}
.radio-group .custom-radio::after {
    content: "";
    position: absolute;
    display: none;
}
.radio-group input[type="radio"]:checked ~ .custom-radio::after {
    display: block;
}
.radio-group .custom-radio::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

// =============================================================================
// select
// =============================================================================
.select {
    position: relative;
    height: 2.25rem;
    // background: var(--white);
    border-radius: var(--btn-border);
    font-family: var(--font-family);
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: 14px;
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: var(--invert-select) transparent transparent transparent;
        pointer-events: none;
    }
    &:hover{
        border-color: var(--invert-input-hover);
    }
    &:before {
        width: 36px;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        border-left: solid 1px var(--invert-select-bg);
        border-top-right-radius: var(--btn-border);
        border-bottom-right-radius: var(--btn-border);
        background: var(--invert-select-bg);
        content: "";
        pointer-events: none;
    }
    &:hover:before {
        background: var(--invert-select-bg);
        transition: var(--basic-transition);
    }
    & select{
        font-size: $fs-s;
        border: none;
        border-radius: var(--btn-border);
        background: transparent;
        height: 100%;
        width: 100%;
        cursor: pointer;
        outline: none;
        padding-right: 35px;
        padding-left: 8px;
        border: 1px solid var(--border-input);
        color: var(--invert-color);
        background-color: var(--invert-bg);
        appearance: none;
        &:hover,
        &:focus{
            border-color: var(--invert-input-hover);
            transition: var(--basic-transition);
        }
    }   
}

/** Custom multi-Select **/
.MultiCheckBox {
    display: inline-block;
    padding: 4px 5px;
    border-radius: var(--btn-border);
    border: 1px solid var(--border-input);
    color: var(--invert-color);
    background-color: var(--invert-bg);
    height: 34px;
    position: relative;
    cursor:pointer;
    &:after {
        content: "";
        position: absolute;
        top: 0;
        width: 0;
        height: 0;
        right: 12px;
        bottom: 0;
        margin: auto;
        border-style: solid;
        border-width: 5px 5px 0 5px;
        border-color: var(--invert-select) transparent transparent transparent;
        pointer-events: none;
    }
    &:hover{
        border-color: var(--invert-input-hover);
    }
    &:before {
        width: 32px;
        position: absolute;
        top: 1px;
        right: 1px;
        bottom: 1px;
        border-left: solid 1px var(--invert-select-bg);
        border-top-right-radius: var(--btn-border);
        border-bottom-right-radius: var(--btn-border);
        background: var(--invert-select-bg);
        content: "";
        pointer-events: none;
    }
}
.MultiCheckBoxDetail {
    display:none;
    position:absolute;
    top: 144px;
    left: 219px;
    font-family: var(--font-family);
    border:1px solid var(--border-input);
    background: var(--cal-pop-bg);
    overflow-y:hidden;
    z-index: 1;
}
.MultiCheckBoxDetailBody {
    overflow-y:scroll;
}
.MultiCheckBoxDetail .cont  {
    clear:both;
    overflow: hidden;
    padding: 2px 4px;
    &:hover  {
        background-color:var(--auto-hover);
    }
    div.text{
        width: calc(100% - 30px);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}
.MultiCheckBoxDetailBody > div > div {
    float:left;
}
.MultiCheckBoxDetailHeader {
    overflow:hidden;
    position:relative;
    height: 28px;
    background-color:#3d3d3d;
    &>input {
        position: absolute;
        top: 4px;
        left: 3px;
    }
    &>div {
        position: absolute;
        top: 5px;
        left: 24px;
        color:#fff;
    }
}
// =============================================================================
// search
// =============================================================================
.group-search{
    display: inline-flex;
    // background-color: var(--white);
    border: solid 1px var(--border-input);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    overflow: hidden;
    &>input{
        margin-right: -2px;
    }
    &:hover{
        border-color: var(--invert-input-hover);
        transition: var(--basic-transition);
    }
    .search-bg{
        width: 34px;
        height: 34px;
        padding: 0 10px;
        line-height: 40px;
        text-align: center;
        background-color: var(--bg-primary);
        position: relative;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        &-svg{
            position: absolute;
            top: -1px;
            right: 8px;
        }
        & .search{
            background-image: icon(search, 'ffffff');
        }
    }
}

.attach-file{
    // display: flex;
    // flex-wrap: wrap;
    // flex-direction: row;
    & .one-file{
        margin-right: 20px;
        display: flex;
        flex-wrap: wrap;
        span.download{
            width: 16px;
            height: 16px;
            margin-right: 5px;
            cursor: pointer;
        }
    }
    & .one-file ~ .one-file label,
    & input{
        display: none;
    }
    & .one-file.error{
        display: flex;
        flex-direction: row;
        border: none;
        & .file-name{
            color: var(--third);
            text-decoration: underline;
        }
    }
    & .file-item {
        position: relative;
        margin-left: 15px;
        display: flex;
        align-items: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 177px;
        &.hide-btn {
            display: none;
        }
    }
    & .file-name {
        font-size: $fs-m;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $grayscale70;
        border: 1px solid #dfdaeb;
        background-color: white;
        border-radius: 3px;
        padding: 4px 26px 4px 8px;
    }
    .btn-del-file {
        margin-left: 0!important;
        width: 20px;
        min-width: 20px;
        height: 20px;
        line-height: 17px;
        border-radius: 3px;
        color: var(--white);
        text-align: center;
        cursor: pointer;
        transition: all 0.2s;
        background-color: var(--gray-600);
        svg{
            fill: var(--white);
            width: 10px;
            height: 10px;
        }
        &:hover,
        &:focus{
            background-color: var(--alert);
        }
    }
    & label {
        position: relative;
        display: inline-block;
        padding: 3px 10px;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s;
        margin-bottom: 4px;
        &:hover,
        &:active{
            background-color: $searchBtn_hover;
            color: white;
        }
    }
}


