* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button {
    color: inherit;
    line-height: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.ui-dialog {
    border: 1px solid #A8B3C1 !important;
    background-color: #fff !important;
    border-radius: 8px !important;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.10);
    padding: 0;
    position: fixed;
    overflow: hidden;
    color: #151515;
}

.ui-dialog .ui-dialog-titlebar {
    width: 100%;
    position: relative;
    padding: 12px 16px;
    background-color: #39537A;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title {
    width: 90%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-title .tit {
    font-size: 16px;
    font-weight: 700;
    line-height: 1.25;
    color: #fff;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 16px;
    margin: 0;
    padding: 0;
    background-size: contain !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-image: url("/wsrv/app/img/new/common/ico_close_white.png");
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 0;
    color: transparent;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close span {
    display: none;
}

.ui-dialog .ui-dialog-titlebar .ui-dialog-titlebar-close:hover {
    border: none;
    background-color: transparent;
}

.ui-dialog .ui-dialog-content {
    position: relative;
    border: none;
    padding: 0;
    overflow: hidden;
    background-color: #fff;
}